
 @-webkit-keyframes in_lightspeed
    {
          0% {
            -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
          }
          60% {
            -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
            opacity: 1;
          }
          80% {
            -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
            opacity: 1;
          }
          100% {
            -webkit-transform: none;
            transform: none;
            opacity: 1;
          }
    }
    @-webkit-keyframes out_lightspeed
    {
          100% {
            -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
            transform: translate3d(-100%, 0, 0) skewX(30deg);
            opacity: 0;
          }
          40% {
            -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
            opacity: 1;
          }
          20% {
            -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
            opacity: 1;
          }
          0% {
            -webkit-transform: none;
            transform: none;
            opacity: 1;
          }
    }

    *
    {
        padding: 0px;
        margin: 0px;
        -webkit-box-sizing: border-box;
    }

    body
    {
        background-color: #ffc400;
    }

    #container
    {
        width: 500px;
        height: 815px;
        position: absolute;
        overflow: hidden;
    }
    .m_star
    {
        position: absolute;
        top: 0px;
    }
    @-webkit-keyframes m_starmove
    {
        0%  {-webkit-transform: scale(0) rotate(0deg);opacity: 1}
        90% {-webkit-transform: scale(1) rotate(900deg);opacity: 1}
        100%{-webkit-transform: scale(1) rotate(920deg);opacity: 0}
    }
    @-webkit-keyframes m_fadein
    {
        from  {opacity: 0}
        to    {opacity: 1}
    }
    @-webkit-keyframes m_fadeout
    {
        from  {opacity: 1}
        to    {opacity: 0}
    }
    @-webkit-keyframes zhayan
    {
        0%  {opacity: 1}
        95% {opacity: 1}
        97% {opacity: 0}
        100%{opacity: 0} 
    }
    #m_star1
    {
        top: 0px;
        left: 309px;
        -webkit-animation: m_starmove 5s 1s ease-out infinite both;
    }
    #m_star2
    {
        top: 181px;
        left: 16px;
        -webkit-animation: m_starmove 5s 3s ease-out infinite both;
    }
    #m_star3
    {
        top: 154px;
        left: 268px;
        -webkit-animation: m_starmove 5s 4s ease-out infinite both;
    }
    #m_star4
    {
        top: 568px;
        left: 0px;
        -webkit-animation: m_starmove 5s 2s ease-out infinite both;
    }
    #m_star5
    {
        top: 502px;
        left: 300px;
        -webkit-animation: m_starmove 5s ease-out infinite both;
    }
    #m_star6
    {
        top: 715px;
        left: 368px;
        -webkit-animation: m_starmove 5s ease-out infinite both;
    }
    #m_dot1
    {
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-animation: m_fadeout 2s linear infinite alternate;
    }
    #m_dot2
    {
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-transform: scale(-1);
        -webkit-animation: m_fadein 2s linear infinite alternate;
    }
    #children
    {
        position: absolute;
        top: 0px;left: 0px;
    }
    #m_children
    {
        position: absolute;
        top: 30px;
        left: 9px;
    }
    #m_eye
    {
        position: absolute;
        top: 40px;
        left: 213px;
        -webkit-animation: zhayan 4s linear infinite;
    }
    #m_eye1
    {
        position: absolute;
        top: 40px;
        left: 213px;
    }
    #banana
    {
        position: absolute;
        top: 131px;
        left: 17px;
    }
    #cloud1
    {
        position: absolute;
        top: 200px;
        left: 105px;
        /*-webkit-animation: cloud1 2s linear infinite;*/
    }
    #cloud2
    {
        position: absolute;
        top: 668px;
        left: 417px;
        /*-webkit-animation: cloud1 2s 1s linear infinite both;*/
    }
    #imgdiv1
    {
        position: absolute;
        top: 175px;
        left: 0px;
        -webkit-transform-origin: 70% 100%;
    }
    #imgbox1
    {
        position: absolute;
        top: 33px;
        left: 23px;
        width: 452px;
        height: 476px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask1.png);
        overflow: hidden;
    }
    #minion1
    {
        position: absolute;
        top: 620px;
        left: 75px;
    }
    #minion2
    {
        position: absolute;
        top: 113px;
        left: 396px;
        -webkit-transform-origin: 20% 80%;
    }
    #minion3
    {
        position: absolute;
        top: 213px;
        left: 58px;
        opacity: 0;
    }
    #fengche
    {
        position: absolute;
        left: -7px;
        top: 545px;
    }
    @-webkit-keyframes child1
    {
        0%   {-webkit-transform: translate(0px,-300px);}
        95%   {-webkit-transform: translate(0px,10px);}
        100% {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes m_in_bounce_down
    {
        0%{opacity:0;-webkit-transform:translateY(-2000px)}
        60%{opacity:1;-webkit-transform:translateY(30px)}
        80%{-webkit-transform:translateY(-10px)}
        100%{-webkit-transform:translateY(0)}
    }
    @-webkit-keyframes m_in_bounce_right
    {
        0%{opacity:0;-webkit-transform:translateX(-2000px)}
        60%{opacity:1;-webkit-transform:translateX(30px)}
        80%{-webkit-transform:translateX(-10px)}
        100%{-webkit-transform:translateX(0)}
    }
    @-webkit-keyframes m_in_bounce_left
    {
        0%{opacity:0;-webkit-transform:translateX(2000px)}
        60%{opacity:1;-webkit-transform:translateX(-30px)}
        80%{-webkit-transform:translateX(10px)}
        100%{-webkit-transform:translateX(0)}
    }
    @-webkit-keyframes cloud1
    {
        0%   {-webkit-transform: translate(0px,0px);opacity:0;}
        20%  {-webkit-transform: translate(12px,0px);opacity: 1}
        100% {-webkit-transform: translate(60px,0px);opacity:0;}
    }
    @-webkit-keyframes cloud2
    {
        0%   {-webkit-transform: translate(0px,0px);opacity:0;}
        20%  {-webkit-transform: translate(-12px,0px);opacity: 1}
        100% {-webkit-transform: translate(-40px,0px);opacity:0;}
    }
    @-webkit-keyframes m_in_bounce_center
    {
        0%{opacity:0;-webkit-transform:scale(.3)}
        50%{opacity:1;-webkit-transform:scale(1.05)}
        70%{-webkit-transform:scale(.9)}
        100%{-webkit-transform:scale(1)}
    }
    @-webkit-keyframes m_in_bounce_up
    {
        0%{opacity:0;-webkit-transform:translateY(2000px)}
        60%{opacity:1;-webkit-transform:translateY(-30px)}
        80%{-webkit-transform:translateY(10px)}
        100%{-webkit-transform:translateY(0)}
    }
    @-webkit-keyframes m_out_bounce_up
    {
        0%{-webkit-transform:translateY(0)}
        20%{opacity:1;-webkit-transform:translateY(20px)}
        100%{opacity:0;-webkit-transform:translateY(-2000px)}
    } 
    @-webkit-keyframes m_out_bounce_left
    {
        0%{-webkit-transform:translateX(0)}
        20%{opacity:1;-webkit-transform:translateX(20px)}
        100%{opacity:0;-webkit-transform:translateX(-2000px)}
    }
    @-webkit-keyframes m_out_bounce_right
    {
        0%{-webkit-transform:translateX(0)}
        20%{opacity:1;-webkit-transform:translateX(-20px)}
        100%{opacity:0;-webkit-transform:translateX(2000px)}
    }
    @-webkit-keyframes m_out_bounce_down
    {
        0%{-webkit-transform:translateY(0)}
        20%{opacity:1;-webkit-transform:translateY(-20px)}
        100%{opacity:0;-webkit-transform:translateY(2000px)}
    }
    @-webkit-keyframes m_out_bounce_center
    {
        0%{-webkit-transform:scale(1)}
        25%{-webkit-transform:scale(.95)}
        50%{opacity:1;-webkit-transform:scale(1.1)}
        100%{opacity:0;-webkit-transform:scale(.3)}
    }
    @-webkit-keyframes littleminionin
    {
        0%  {-webkit-transform: translate(60px,60px);opacity: 1}
        80% {-webkit-transform: translate(-2px,-2px);opacity: 1}
        100%{-webkit-transform: translate(0px,0px);opacity: 1}
    }
    @-webkit-keyframes littleminionout
    {
        0%  {-webkit-transform: translate(0px,0px);opacity: 1}
        20% {-webkit-transform: translate(-2px,-2px);opacity: 1}
        100%{-webkit-transform: translate(60px,60px);opacity: 1}
    }
    @-webkit-keyframes minion2out
    {
        0%  {-webkit-transform: translate(0px,0px) rotate(0deg) scale(1);}
        50% {-webkit-transform: translate(100px,50px) rotate(-70deg) scale(0.6);}
        100%{-webkit-transform: translate(200px,90px) rotate(-90deg) scale(0.2);}
    }
    @-webkit-keyframes m_out_gun_right
    {
        0%  {-webkit-transform: translate(0px,0px) rotate(0deg);}
        10% {-webkit-transform: translate(0px,0px) rotate(-3deg);}
        100% {-webkit-transform: translate(150px,0px) rotate(90deg);}

    }
    #cloud
    {
        position: absolute;top: 0px;left: 0px;
    }
    #minion4
    {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #minion5
    {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #imgdiv2h
    {
        position: absolute;
        top: -5px;
        left: 0px;
    }
    #imgdiv2s
    {
        position: absolute;
        top: 176px;
        left: 49px;
    }
    #kuang2h
    {
        position: absolute;
        top: 275px;
        left: 14px;
        -webkit-transform: rotate(-10deg) scale(.97);
    }
    #kuang2s
    {
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-transform: rotate(5deg) scale(.97);
    }
    #imgbox2h
    {
        position: absolute;
        top: 297px;
        left: 34px;
        width: 432px;
        height: 316px;
        -webkit-transform: rotate(-10deg);
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask2h.png);
        overflow: hidden;
    }
    #imgbox2s
    {
        position: absolute;
        top: 19px;
        left: 20px;
        width: 316px;
        height: 432px;
        -webkit-transform: rotate(5deg);
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask2s.png);
        overflow: hidden;
    }

    @-webkit-keyframes fengche2
    {
        from  {-webkit-transform: translate(0px,50px) scale(-1.2,1.2) rotate(-40deg);}
        to    {-webkit-transform: translate(0px,0px) scale(-1.2,1.2) rotate(0deg);}
    }
    @-webkit-keyframes fengche3
    {
        to  {-webkit-transform: translate(0px,50px) scale(-1.2,1.2) rotate(-40deg);}
        from    {-webkit-transform: translate(0px,0px) scale(-1.2,1.2) rotate(0deg);}
    }
    @-webkit-keyframes littleminionin2
    {
        0%  {-webkit-transform: translate(0px,100px);opacity: 1}
        80% {-webkit-transform: translate(0px,-10px);opacity: 1}
        100%{-webkit-transform: translate(0px,0px);opacity: 1}
    }
    @-webkit-keyframes littleminionout2
    {
        100%  {-webkit-transform: translate(0px,100px);opacity: 1}
        20% {-webkit-transform: translate(0px,-10px);opacity: 1}
        0%{-webkit-transform: translate(0px,0px);opacity: 1}
    }
    #minion6
    {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    #cloud3
    {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
    }
    #imgdiv31h
    {
        position: absolute;
        width: 420px;
        height: 316px;
        top: 75px;
        left: 8px;
    }
    #imgbox31h
    {
        position: absolute;
        width: 383px;
        height: 280px;
        top: 16px;
        left: 20px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask31h.png);
        overflow: hidden;
    }
    #imgdiv32h
    {
        position: absolute;
        width: 349px;
        height: 259px;
        top: 417px;
        left: 0px;
    }
    #imgbox32h
    {
        position: absolute;
        width: 313px;
        height: 219px;
        top: 19px;
        left: 19px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask32h.png);
        overflow: hidden;
    }
    #imgdiv31s
    {
        position: absolute;
        top: 12px;
        left: 153px;
        width: 316px;
        height: 420px;
    }
    #imgbox31s
    {
        position: absolute;
        top: 18px;
        left: 21px;
        width: 280px;
        height: 383px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask31s.png);
        overflow: hidden;
    }
    #imgdiv32s
    {
        position: absolute;
        width: 219px;
        height: 313px;
        top: 382px;
        left: 38px;
    }
    #imgbox32s
    {
        position: absolute;
        width: 219px;
        height: 313px;
        top: 20px;
        left: 23px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask32s.png);
        overflow: hidden;
    }
    @-webkit-keyframes children3
    {
        from  {-webkit-transform: translate(163px,167px) rotate(-12deg);}
        to    {-webkit-transform: translate(0px,0px) rotate(-12deg);}
    }
    @-webkit-keyframes children3_out
    {
        to  {-webkit-transform: translate(163px,167px) rotate(-12deg);}
        from    {-webkit-transform: translate(0px,0px) rotate(-12deg);}
    }
    @-webkit-keyframes minion6_3
    {
        from  {-webkit-transform: translate(95px,0px);}
        to    {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes minion6_3_out
    {
        to  {-webkit-transform: translate(95px,0px);}
        from    {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes fengche6
    {
        from  {-webkit-transform: rotate(71deg);}
        to    {-webkit-transform: rotate(10deg);}
    }
    @-webkit-keyframes fengche6_out
    {
        to  {-webkit-transform: rotate(71deg);}
        from    {-webkit-transform: rotate(10deg);}
    }
    @-webkit-keyframes minion2_3
    {
        from  {-webkit-transform: translate(6px,-97px);}
        to    {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes minion2_3_out
    {
        to  {-webkit-transform: translate(6px,-97px);}
        from    {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes minion3_3
    {
        0%   {-webkit-transform: translate(35px,61px);opacity: 0}
        80%  {-webkit-transform: translate(8px,-10px);}
        100% {-webkit-transform: translate(0px,0px);opacity: 1}
    }
    @-webkit-keyframes minion3_3_out
    {
        100%   {-webkit-transform: translate(35px,61px);opacity: 0}
        20%  {-webkit-transform: translate(8px,-10px);}
        0% {-webkit-transform: translate(0px,0px);opacity: 1}
    }
    #imgdiv41h
    {
        position: absolute;
        width: 378px;
        height: 269px;
        left: 126px;
        top: 272px;
    }
    #imgbox41h
    {
        overflow: hidden;
        position: absolute;
        width: 337px;
        height: 229px;
        top: 21px;
        left: 21px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask41h.png);
    }
    #imgdiv42h
    {
        position: absolute;
        width: 299px;
        height: 214px;
        left: 11px;
        top: 543px;
    }
    #imgbox42h
    {
        position: absolute;
        width: 270px;
        height: 184px;
        top: 16px;
        left: 13px;
        overflow: hidden;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask42h.png);
    }
    @-webkit-keyframes m_children4
    {
        from  {-webkit-transform: translate(-12px,-210px) rotate(-13deg);}
        to    {-webkit-transform: translate(0px,0px) rotate(-13deg);}
    }
    @-webkit-keyframes m_children4_out
    {
        to  {-webkit-transform: translate(-12px,-210px) rotate(-13deg);}
        from    {-webkit-transform: translate(0px,0px) rotate(-13deg);}
    }
    @-webkit-keyframes banana4
    {
        from  {-webkit-transform: translate(-284px,25px) rotate(-12.5deg);}
        to    {-webkit-transform: translate(0px,0px) rotate(-12.5deg);}
    }
    @-webkit-keyframes banana4_out
    {
        to  {-webkit-transform: translate(-284px,25px) rotate(-12.5deg);}
        from    {-webkit-transform: translate(0px,0px) rotate(-12.5deg);}
    }
    @-webkit-keyframes minion2_4
    {
        from  {-webkit-transform: translate(0px,-241px);}
        to    {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes minion2_4_out
    {
        to  {-webkit-transform: translate(0px,-241px);}
        from    {-webkit-transform: translate(0px,0px);}
    }
    #m4{
        position: absolute;
        left: 90px;
        top: 6px;
    }
    #m5
    {
        position: absolute;
        top: 384px;
        left: 39px
    }
    @-webkit-keyframes m4
    {
        from  {-webkit-transform: translate(0px,0px);}
        to    {-webkit-transform: translate(0px,7px);}
    }
    @-webkit-keyframes m5
    {
        from  {-webkit-transform: translate(0px,7px);}
        to    {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes showm4
    {
        from {-webkit-transform: translate(0px,90px);opacity: 0}
        to   {-webkit-transform: translate(0px,0px);opacity: 1}
    }
    @-webkit-keyframes showm4_out
    {
        100% {-webkit-transform: translate(0px,90px);opacity: 0}
        0%   {-webkit-transform: translate(0px,0px);opacity: 1}
        20%   {-webkit-transform: translate(0px,-10px);opacity: 1}
    }
    @-webkit-keyframes showm5
    {
        0%  {-webkit-transform: translate(-121px,0px);}
        80% {-webkit-transform: translate(10px,0px);}
        100%{-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes showm5_out
    {
        100%  {-webkit-transform: translate(-121px,0px);}
        20% {-webkit-transform: translate(10px,0px);}
        0%{-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes m_4_1
    {
        from {-webkit-transform: translate(194px,0px);}
        to   {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes m_4_1_out
    {
        to {-webkit-transform: translate(194px,0px);}
        from   {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes m_4_2
    {
        from {-webkit-transform: translate(194px,0px) scale(-1,1);}
        to   {-webkit-transform: translate(0px,0px) scale(-1,1);}
    }
    @-webkit-keyframes m_4_2_out
    {
        to {-webkit-transform: translate(194px,0px) scale(-1,1);}
        from   {-webkit-transform: translate(0px,0px) scale(-1,1);}
    }
    #imgdiv41s
    {
        position: absolute;
        left: 221px;
        top: 216px;
    }
    #imgdiv42s
    {
        position: absolute;
        left: 49px;
        top: 482px;
    }
    #imgbox41s
    {
        position: absolute;
        top: 21px;
        left: 20px;
        overflow: hidden;
        width: 229px;
        height: 337px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask41s.png);
    }
    #imgbox42s
    {
        position: absolute;
        top: 14px;
        left: 17px;
        overflow: hidden;
        width: 184px;
        height: 270px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask42s.png);
    }
    #imgdiv51h
    {
        position: absolute;
        left: 9px;
        top: 193px;
    }
    #imgbox51h
    {
        position: absolute;;
        overflow: hidden;
        top: 20px;
        left: 17px;
        height: 268px;
        width: 366px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask51h.png);
    }
    #imgdiv52h
    {
        position: absolute;
        left: 165px;
        top: 499px;
    }
    #imgbox52h
    {
        position: absolute;
        top: 17px;
        left: 16px;
        width: 290px;
        height: 214px;
        overflow: hidden;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask52h.png);
    }
    #imgdiv51s
    {
        position: absolute;
        left: 35px;
        top: 140px;
    }
    #imgbox51s
    {
        position: absolute;;
        overflow: hidden;
        top: 19px;
        left: 19px;
        height: 366px;
        width: 268px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask51s.png);
    }
    #imgdiv52s
    {
        position: absolute;
        left: 242px;
        top: 452px;
    }
    #imgbox52s
    {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 214px;
        height: 290px;
        overflow: hidden;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask52s.png);
    }
    @-webkit-keyframes m_children5
    {
        from {-webkit-transform: translate(-21px,-161px) rotate(-11deg);}
        to   {-webkit-transform: translate(0px,0px) rotate(0deg);}
    }
    @-webkit-keyframes m_children5_out
    {
        to {-webkit-transform: translate(-21px,-161px) rotate(-11deg);}
        from   {-webkit-transform: translate(0px,0px) rotate(0deg);}
    }
    @-webkit-keyframes banana5_out
    {
        to {-webkit-transform: translate(-21px,-261px) rotate(-11deg);}
        from   {-webkit-transform: translate(0px,0px) rotate(0deg);}
    }
    #imgdiv6h
    {
        position: absolute;
        left: -28px;
        top: 208px;
    }
    #imgdiv6s
    {
        position: absolute;
        left: 72px;
        top: 199px;
    }
    #imgbox6h
    {
        position: absolute;
        overflow: hidden;
        width: 519px;
        height: 400px;
        top: 19px;
        left: 18px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask6h.png);
    }
    #imgbox6s
    {
        position: absolute;
        overflow: hidden;
        top: 20px;
        left: 21px;
        width: 316px;
        height: 432px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl17/mask6s.png);
    }
    @-webkit-keyframes m63
    {
        from {-webkit-transform: translate(150px,170px);}
        to   {-webkit-transform: translate(0px,0px);}
    }
    @-webkit-keyframes m63_out 
    {
        to {-webkit-transform: translate(150px,170px);}
        from   {-webkit-transform: translate(0px,0px);}
    }