*
    {
        padding: 0px;
        margin: 0px;
        -webkit-box-sizing: border-box;
    }

    body
    {
        background-color: black;
    }

    #container
    {
        width: 500px;
        height: 815px;
/*        left: 200px;*/
        position: absolute;
        overflow: hidden;
    }
    #container > div,#container > img
    {
        position: absolute;
    }
    #jiusheng
    {
        position: absolute;
        top: -55px;
        left: 260px;
    }
    #jiushengying
    {
        position: absolute;
        top: 38px;
        left: 292px;
    }
    #haiquan
    {
        -webkit-animation: haiquan 2s linear infinite alternate;
    }
    @-webkit-keyframes haiquan
    {
        from  {-webkit-transform: translate(0px,0px);}
        to    {-webkit-transform: translate(5px,10px);}
    }
    .kuang
    {
        width: 285px;
        height: 377px;
        top: 0px;
        left: -110px;
        position: absolute;
        -webkit-transform: translate(687px,386px) rotate(50deg);
        /*-webkit-animation: kuangmove 10s linear infinite;*/

    }
    .kuang1
    {
        width: 285px;
        height: 377px;
        top: 0px;
        left: -110px;
        position: absolute;
        -webkit-transform: translate(687px,386px) rotate(50deg);
        /*-webkit-animation: kuangmove1 10s linear infinite;*/
    }
    .kuangimg
    {
        position: absolute;
        -webkit-transform-origin: 0% 100%;
        -webkit-transform: rotate(15deg);
        /*-webkit-animation: kuang 10s linear infinite;*/
    }

    @-webkit-keyframes kuangmove
    {
        0%  {-webkit-transform: translate(0px,0px);}
        50% {-webkit-transform: translate(158px,134px);}
        70% {-webkit-transform: translate(208px,154px) rotate(-10deg);}
        100%{-webkit-transform: translate(687px,386px) rotate(50deg);}
    }
    @-webkit-keyframes kuangmove1
    {
        0%  {-webkit-transform: translate(0px,386px);}
        50% {-webkit-transform: translate(158px,154px);}
        70% {-webkit-transform: translate(208px,134px) rotate(-10deg);}
        100%{-webkit-transform: translate(687px,0px) rotate(40deg);}
    }
    @-webkit-keyframes kuang
    {
        0%  {-webkit-transform: rotate(-70deg);}
        50% {-webkit-transform: rotate(15deg);}
        100%{-webkit-transform: rotate(15deg)}
    }
    .ying
    {
        position: absolute;
        top: 132px;
        left: 54px;
        -webkit-transform-origin: 0% 100%;
        /*-webkit-transform: translate(-60px,-65px) rotate(15deg);*/
        /*-webkit-animation: yingmove 10s linear infinite;*/
    }
    @-webkit-keyframes yingmove
    {
        0%  {-webkit-transform: translate(0px) rotate(-70deg);}
        50% {-webkit-transform: translate(-40px,-65px) rotate(15deg);}
        70% {-webkit-transform: translate(-40px,-65px) rotate(17deg);}
        100% {-webkit-transform: translate(-1px,-99px) rotate(15deg);}
        /*100% {opacity: 0}*/
    }
    #jijuxie,#jijuxieying
    {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 632px;
        left: 49px;
        -webkit-animation: jijuxie 12s linear infinite;
        -webkit-transform: translate(0px,0px) rotate(-40deg) scale(.8,.8);
    }
    @-webkit-keyframes jijuxie
    {
        0%   {-webkit-transform: translate(0px,0px) rotate(-40deg) scale(.8,.8);}
        6%  {-webkit-transform: translate(0px,0px) rotate(-50deg) scale(.8,.8);}
        11%  {-webkit-transform: translate(0px,0px) rotate(-40deg) scale(.8,.8);}
        30%  {-webkit-transform: translate(-40px,-35px) rotate(-40deg) scale(.8,.8);}
        34%  {-webkit-transform: translate(-40px,-35px) rotate(-47deg) scale(.8,.8);}
        45%  {-webkit-transform: translate(-40px,-35px) rotate(-10deg) scale(.8,.8);}
        70%  {-webkit-transform: translate(0px,0px) rotate(-40deg) scale(.8,.8);}
        100%  {-webkit-transform: translate(0px,0px) rotate(-40deg) scale(.8,.8);}
    }
    #jijuxie > img, #jijuxie > div
    {
        position: absolute;
    }
    #jijuxieying > img, #jijuxieying > div
    {
        position: absolute;
    }
    .tou
    {
        left: 111px;
        top: -12px;
        -webkit-transform: rotate(100deg);
        -webkit-animation: xietou 12s linear infinite;
    }
    @-webkit-keyframes xietou
    {
        0%   {-webkit-transform: translate(-66px,0px) rotate(100deg);}
        6%   {-webkit-transform: translate(-25px,0px) rotate(100deg);}
        11%  {-webkit-transform: translate(0px,0px) rotate(100deg);}
        30%  {-webkit-transform: translate(0px,0px) rotate(100deg);}
        34%  {-webkit-transform: translate(0px,0px) rotate(100deg);}
        45%  {-webkit-transform: translate(-66px,0px) rotate(100deg);}
        70%  {-webkit-transform: translate(-75px,0px) rotate(100deg);}
        100% {-webkit-transform: translate(-75px,0px) rotate(100deg);}        
    }
    .leg3
    {
        -webkit-transform-origin: 0% 80%;
        /*-webkit-transform: translate(-50px,0px) rotate(7deg);*/
        -webkit-animation: leg3 12s linear infinite;
    }
    @-webkit-keyframes leg3
    {
        0%   {-webkit-transform: translate(-50px,0px) rotate(37deg)}
        7%   {-webkit-transform: translate(-20px,0px) rotate(0deg)}
        9%   {-webkit-transform: translate(0px,0px) rotate(5deg)}
        11%  {-webkit-transform: translate(0px,0px) rotate(0deg);}
        30%  {-webkit-transform: translate(0px,0px) rotate(0deg);}
        34%  {-webkit-transform: translate(0px,0px) rotate(0deg);}
        45%  {-webkit-transform: translate(-50px,0px) rotate(7deg);}
        70%  {-webkit-transform: translate(-50px,0px) rotate(7deg);}
        100% {-webkit-transform: translate(-50px,0px) rotate(7deg);}        
    }
    .leg4
    {
        -webkit-transform-origin: 0% 10%;
        -webkit-transform: translate(-34px,0px) rotate(-46deg);
        -webkit-animation: leg4 12s linear infinite;
    }
    @-webkit-keyframes leg4
    {
        0%   {-webkit-transform: translate(-40px,-12px) rotate(-9deg)}
        6%   {-webkit-transform: translate(-40px,-12px) rotate(-9deg)}
        11%  {-webkit-transform: translate(0px,0px) rotate(10deg);}
        30%  {-webkit-transform: translate(0px,0px) rotate(10deg);}
        34%  {-webkit-transform: translate(0px,0px) rotate(10deg);}
        45%  {-webkit-transform: translate(-40px,-12px) rotate(-9deg)}
        70%  {-webkit-transform: translate(-40px,-12px) rotate(-9deg)}
        100% {-webkit-transform: translate(-40px,-12px) rotate(-9deg)}        
    }
    .leg1-1
    {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: rotate(17deg);
        -webkit-animation: leg1-1 12s linear infinite;
    }
    .leg1
    {
        -webkit-transform-origin: 50% 100%;
        -webkit-transform:translate(14px,12px) rotate(0deg);
        -webkit-animation: leg1 12s linear infinite;
    }
    @-webkit-keyframes leg1
    {
        0%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}
        /*6%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}*/
        11%  {-webkit-transform:translate(14px,12px) rotate(0deg)}
        14.5% {-webkit-transform:translate(14px,12px) rotate(5deg)}
        18%   {-webkit-transform:translate(14px,12px) rotate(0deg)}
        21.5% {-webkit-transform:translate(14px,12px) rotate(0deg)}
        25%   {-webkit-transform:translate(14px,12px) rotate(-7deg)}
        28.5% {-webkit-transform:translate(14px,12px) rotate(-7deg)}
        32%   {-webkit-transform:translate(14px,12px) rotate(-10deg)}
/*        30%  {-webkit-transform:translate(0px,0px) rotate(0deg)}
        34%  {-webkit-transform:translate(0px,0px) rotate(0deg)}*/
        45%  {-webkit-transform:translate(-56px,-10px) rotate(164deg)}
        70%  {-webkit-transform:translate(-56px,-10px) rotate(164deg)}
        100% {-webkit-transform:translate(-56px,-10px) rotate(164deg)} 
    }
    @-webkit-keyframes leg1-1
    {
        0%   {-webkit-transform: rotate(17deg)}
        6%   {-webkit-transform: rotate(17deg)}
        11%  {-webkit-transform: rotate(17deg)}
        14.5% {-webkit-transform: rotate(17deg)}
        18%   {-webkit-transform: rotate(27deg)}
        21.5% {-webkit-transform: rotate(27deg)}
        25%   {-webkit-transform: rotate(28deg)}
        28.5% {-webkit-transform: rotate(28deg)}
        32%   {-webkit-transform: rotate(28deg)}
        45%  {-webkit-transform: rotate(17deg)}
        70%  {-webkit-transform: rotate(17deg)}
        100% {-webkit-transform: rotate(17deg)} 
    }
    .leg13
    {
        position: absolute;
        -webkit-transform-origin: 80% 20%;
        -webkit-animation: leg13 12s linear infinite;
    }
    @-webkit-keyframes leg13
    {
        0%   {-webkit-transform: translate(0px,0px) rotate(0deg)}
        6%   {-webkit-transform: translate(0px,0px) rotate(0deg)}
        11%  {-webkit-transform: translate(0px,0px) rotate(0deg)}
        14.5% {-webkit-transform: translate(0px,0px) rotate(0deg)}
        18%   {-webkit-transform: translate(0px,0px) rotate(0deg)}
        21.5% {-webkit-transform: translate(0px,0px) rotate(0deg)}
        25%   {-webkit-transform: translate(0px,0px) rotate(0deg)}
        28.5% {-webkit-transform: translate(0px,0px) rotate(0deg)}
        32%   {-webkit-transform: translate(0px,0px) rotate(-49deg)}
        45%  {-webkit-transform: translate(0px,0px) rotate(0deg)}
        70%  {-webkit-transform: translate(0px,0px) rotate(0deg)}
        100% {-webkit-transform: translate(0px,0px) rotate(0deg)}         
    }
    .leg2
    {
        -webkit-transform-origin: 0% 100%;
        -webkit-transform: translate(13px,11px) rotate(10deg);
        -webkit-animation: leg2 12s linear infinite;
    }
    @-webkit-keyframes leg2
    {
        0%   {-webkit-transform: translate(-60px,24px) rotate(52deg);}
        /*6%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}*/
        11%  {-webkit-transform: translate(13px,11px) rotate(10deg);}
        14.5% {-webkit-transform:translate(13px,11px) rotate(10deg);}
        18%   {-webkit-transform: translate(13px,11px) rotate(10deg);}
        21.5% {-webkit-transform: translate(13px,11px) rotate(10deg);}
        25%   {-webkit-transform: translate(13px,11px) rotate(-8deg);}
        28.5% {-webkit-transform: translate(13px,11px) rotate(-14deg);}
        32%   {-webkit-transform: translate(13px,11px) rotate(-9deg);}
        45%  {-webkit-transform: translate(-60px,24px) rotate(52deg);}
        70%  {-webkit-transform: translate(-60px,24px) rotate(52deg);}
        100% {-webkit-transform: translate(-60px,24px) rotate(52deg);} 
    }
    .leg22
    {
        -webkit-transform-origin: 80% 80%;
        -webkit-transform: rotate(-71deg);
        -webkit-animation: leg22 12s linear infinite;
    }
    @-webkit-keyframes leg22
    {
        0%   {-webkit-transform: rotate(17deg)}
        6%   {-webkit-transform: rotate(17deg)}
        11%  {-webkit-transform: rotate(17deg);}
        14.5% {-webkit-transform:rotate(-22deg);}
        18%   {-webkit-transform: rotate(-53deg);}
        21.5% {-webkit-transform: rotate(-71deg);}
        25%   {-webkit-transform: rotate(-59deg)}
        28.5% {-webkit-transform: rotate(-30deg)}
        32%   {-webkit-transform: rotate(6deg)}
        45%  {-webkit-transform: rotate(17deg)}
        70%  {-webkit-transform: rotate(17deg)}
        100% {-webkit-transform: rotate(17deg)} 
    }
    .leg5
    {
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: translate(-3px,0px) rotate(21deg);
        -webkit-animation: leg5 12s linear infinite;
    }
    @-webkit-keyframes leg5
    {
        0%   {-webkit-transform: translate(-52px,-27px) rotate(-61deg);}
        /*6%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}*/
        11%  {-webkit-transform: translate(-3px,0px) rotate(0deg);}
        14.5% {-webkit-transform:translate(-3px,0px) rotate(0deg);}
        18%   {-webkit-transform: translate(-3px,0px) rotate(0deg);}
        21.5% {-webkit-transform: translate(-3px,0px) rotate(21deg);}
        25%   {-webkit-transform: translate(-3px,0px) rotate(19deg);}
        28.5% {-webkit-transform: translate(-3px,0px) rotate(27deg);}
        32%   {-webkit-transform: translate(-3px,0px) rotate(-7deg);}
        45%  {-webkit-transform: translate(-52px,-27px) rotate(-61deg);}
        70%  {-webkit-transform: translate(-52px,-27px) rotate(-61deg);}
        100% {-webkit-transform: translate(-52px,-27px) rotate(-61deg);} 
    }
    .leg5-1
    {
        position: absolute;
        -webkit-transform-origin: 50% 0%;
        -webkit-animation: leg5-1 12s linear infinite;
        -webkit-transform: translate(0px,0px) rotate(-13deg);
    }
    @-webkit-keyframes leg5-1
    {
        0%   {-webkit-transform:translate(0px,0px) rotate(0deg);}
        /*6%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}*/
        11%  {-webkit-transform:translate(0px,0px) rotate(0deg);}
        14.5% {-webkit-transform:translate(0px,0px) rotate(8deg);}
        18%   {-webkit-transform:translate(0px,0px) rotate(15deg);}
        21.5% {-webkit-transform:translate(0px,0px) rotate(-13deg);}
        25%   {-webkit-transform:translate(0px,0px) rotate(-13deg);}
        28.5% {-webkit-transform:translate(0px,0px) rotate(-21deg);}
        32%   {-webkit-transform:translate(0px,0px) rotate(-7deg);}
        45%  {-webkit-transform:translate(0px,0px) rotate(0deg);}
        70%  {-webkit-transform:translate(0px,0px) rotate(0deg);}
        100% {-webkit-transform:translate(0px,0px) rotate(0deg);} 
    }
    .leg53
    {
        -webkit-transform-origin: 25% 25%;
        -webkit-transform:translate(8px,-4px) rotate(68deg);
        -webkit-animation: leg53 12s linear infinite;
    }
    @-webkit-keyframes leg53
    {
        0%   {-webkit-transform:translate(8px,-4px) rotate(88deg);}
        /*6%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}*/
        11%  {-webkit-transform:translate(8px,-4px) rotate(88deg);}
        14.5% {-webkit-transform:translate(8px,-4px) rotate(88deg);}
        18%   {-webkit-transform:translate(8px,-4px) rotate(88deg);}
        21.5% {-webkit-transform:translate(8px,-4px) rotate(68deg);}
        25%   {-webkit-transform:translate(8px,-4px) rotate(68deg);}
        28.5% {-webkit-transform:translate(8px,-4px) rotate(68deg);}
        32%   {-webkit-transform:translate(8px,-4px) rotate(120deg);}
        45%  {-webkit-transform:translate(8px,-4px) rotate(88deg);}
        70%  {-webkit-transform:translate(8px,-4px) rotate(88deg);}
        100% {-webkit-transform:translate(8px,-4px) rotate(88deg);}        
    }
    .leg6
    {
        -webkit-transform-origin: 0% 0%;
        -webkit-transform:translate(10px,5px) rotate(-38deg);
        -webkit-animation: leg6 12s linear infinite;
    }
    .leg6-1
    {
        -webkit-transform-origin: 0% 0%;
        -webkit-transform:translate(0px,-7px) rotate(44deg);
        -webkit-animation: leg6-1 12s linear infinite;
    }
    @-webkit-keyframes leg6
    {
        0%   {-webkit-transform:translate(-46px,-20px) rotate(-75deg)}
        /*6%   {-webkit-transform:translate(-56px,-10px) rotate(164deg);}*/
        11%  {-webkit-transform:translate(-5px,0px) rotate(0deg);}
        14.5% {-webkit-transform:translate(0px,0px) rotate(0deg);}
        18%   {-webkit-transform:translate(0px,0px) rotate(0deg);}
        21.5% {-webkit-transform:translate(10px,5px) rotate(-38deg);}
        25%   {-webkit-transform:translate(10px,5px) rotate(-23deg);}
        28.5% {-webkit-transform:translate(10px,5px) rotate(-39deg);}
        32%   {-webkit-transform:translate(10px,5px) rotate(23deg);}
        45%  {-webkit-transform: translate(-46px,-20px) rotate(-75deg)}
        70%  {-webkit-transform: translate(-46px,-20px) rotate(-75deg)}
        100% {-webkit-transform: translate(-46px,-20px) rotate(-75deg)} 
    }
    @-webkit-keyframes leg6-1
    {
        0%   {-webkit-transform:translate(0px,0px) rotate(0deg);}
        /*6%   {-webkit-transform:rotate(164deg);}*/
        11%  {-webkit-transform:translate(0px,0px) rotate(0deg);}
        14.5% {-webkit-transform:translate(-5px,0px) rotate(15deg);}
        18%   {-webkit-transform:translate(-5px,0px) rotate(22deg);}
        21.5% {-webkit-transform:translate(0px,-7px) rotate(44deg);}
        25%   {-webkit-transform:translate(0px,-7px) rotate(44deg);}
        28.5% {-webkit-transform:translate(0px,-7px) rotate(51deg);}
        32%   {-webkit-transform:translate(0px,-7px) rotate(23deg);}
        45%  {-webkit-transform:translate(0px,0px) rotate(0deg);}
        70%  {-webkit-transform:translate(0px,0px) rotate(0deg);}
        100% {-webkit-transform:translate(0px,0px) rotate(0deg);} 
    }
    .leg63
    {
        position: absolute;
        -webkit-transform:translate(0px,0px) rotate(134deg);
        -webkit-animation: leg63 12s linear infinite;
    }
    @-webkit-keyframes leg63
    {
        0%   {-webkit-transform:translate(0px,0px) rotate(93deg);}
        /*6%   {-webkit-transform:rotate(164deg);}*/
        11%  {-webkit-transform:translate(0px,0px) rotate(93deg);}
        14.5% {-webkit-transform:translate(0px,0px) rotate(102deg);}
        18%   {-webkit-transform:translate(0px,0px) rotate(102deg);}
        21.5% {-webkit-transform:translate(0px,0px) rotate(134deg);}
        25%   {-webkit-transform:translate(0px,0px) rotate(99deg);}
        28.5% {-webkit-transform:translate(0px,0px) rotate(82deg);}
        32%   {-webkit-transform:translate(0px,0px) rotate(93deg);}
        45%  {-webkit-transform:translate(0px,0px) rotate(93deg);}
        70%  {-webkit-transform:translate(0px,0px) rotate(93deg);}
        100% {-webkit-transform:translate(0px,0px) rotate(93deg);} 
    }
    #page_h1,#page_v1,#page_h2,#page_v2
    {
        display: none;
    }
    @-webkit-keyframes aa_in_fade_right
    {
        0%{
            opacity:0;
            -webkit-transform:translateX(-50px)
        }
        100%{
            opacity:1;
            -webkit-transform:translateX(0)}
    }
    @-webkit-keyframes aa_out_fade_right
    {
        0%{
            opacity:1;
            -webkit-transform:translateX(0)
        }
        100%{
            opacity:0;
            -webkit-transform:translateX(50px)
        }
    }
