* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
}
body {
	background-color: black;
}
#container {
	width: 500px;
	height: 815px;
	position: absolute;
	overflow: hidden;
}
#bg {
	position: absolute;
	width: 500px;
	top: 0;
	left: 0;
}
#botton {
	position: absolute;
	width: 301px;
	height: 134px;
	left: 86px;
	top: 604px;/*      z-index: 10;*/
}
#aixin {
	position: absolute;
	left: 249px;
	top: 640px;
	width: 76px;
	height: 76px;/*      z-index: 10;*/
}
#boat {
	position: absolute;
	width: 97px;
	height: 193px;
	left: -97px;
	top: 282px;/*      z-index: 10;*/
}
#sai {
	position: absolute;
	width: 47px;
	height: 29px;
	left: 65px;
	top: 615px;/*      z-index: 10;*/
}
#cloud1 {
	position: absolute;
	width: 248px;
	height: 167px;
	left: -248px;
	top: 186px;      /*z-index: 10;*/
	-webkit-animation: cloud1 40s linear 0s infinite;
}
#cloud2 {
	position: absolute;
	width: 399px;
	height: 131px;
	left: 499px;
	top: 26px;      /*z-index: 10;*/
	-webkit-animation: cloud2 45s linear .2s infinite;
}
.fla {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 286px;
	top: 678px;
	opacity: 0;
	-webkit-transform-origin: 50% 50%;      /*z-index: 10;*/
}
#cloud {
	position: absolute;
	width: 536px;
	height: 397px;
	left: -18px;
	top: 0px;
	opacity: 0;      /*z-index: 1;*/
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: cloud 120s linear .2s infinite;
}
@-webkit-keyframes cloud {
	0% {
		-webkit-transform: translate(0px, 0px) scale(1, 1);
		opacity: 0
	}
	4% {
		-webkit-transform: translate(0px, 0px) scale(1, 1);
		opacity: 1
	}
	50% {
		-webkit-transform: translate(0px, -397px) scale(1.7, 1.7);
		opacity: 1
	}
	100% {
		-webkit-transform: translate(0px, -794px) scale(1.7, 1.7);
		opacity: 1
	}
}
@-webkit-keyframes cloudTwo {
	0% {
		-webkit-transform: translate(0px, 0px) scale(1, 0);
	}
	50% {
		-webkit-transform: translate(0px, -397px) scale(1, 1);
		opacity: 1
	}
}
100% {
	-webkit-transform: translate(0px, -794px) scale(1.7, 1.7);
}
}
@-webkit-keyframes cloud1 {
0% {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	opacity: 1
}
100% {
	-webkit-transform: translate(800px, 0px) scale(1.4, 1.4);
	opacity: 1
}
}
@-webkit-keyframes cloud2 {
0% {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
}
100% {
	-webkit-transform: translate(-950px, 0px) scale(1.4, 1.4);
	opacity: 1;
}
}
@-webkit-keyframes shuiwen {
0% {
	-webkit-transform: scale(1, 1);
	opacity: 0;
}
50% {
	-webkit-transform: scale(1, 1.2);
	opacity: 1
}
100% {
	-webkit-transform: scale(1, 1.4);
	opacity: 0
}
}
@-webkit-keyframes shuiwen1 {
0% {
	-webkit-transform: scale(1, 1.2);
	opacity: 1
}
50% {
	-webkit-transform: scale(1, 1.4);
	opacity: 0
}
50.01% {
	-webkit-transform: scale(1, 1);
	opacity: 0;
}
100% {
	-webkit-transform: scale(1, 1.2);
	opacity: 1
}
}
@-webkit-keyframes fade {
0% {
	opacity: 1
}
100% {
	opacity: 0
}
}
@-webkit-keyframes boatMove {
0% {
	-webkit-transform: translate(0px, 0px);
}
100% {
	-webkit-transform: translate(606px, 0px);
}
}
@-webkit-keyframes fla1 {
0% {
	-webkit-transform: translate(0px, 0px) scale(0.3, 0.3);
	opacity: 0
}
8% {
	-webkit-transform: translate(-230px, -75px) rotate(30deg) scale(0.5, 0.5);
	opacity: 1;
}
12% {
	-webkit-transform: translate(-272px, -105px)  scale(0.7, 0.7);
}
16% {
	-webkit-transform: translate(-202px, -205px) scale(1, 1);
}
19% {
	-webkit-transform: translate(-175px, -262px) rotate(-20deg);
}
28% {
	-webkit-transform: translate(-130px, -347px);
	opacity: 0
}
100% {
	-webkit-transform: translate(-163px, -500px);
}
}
@-webkit-keyframes fla2 {
0% {
	-webkit-transform: translate(0px, 0px) scale(0.3, 0.3);
	opacity: 0
}
8% {
	-webkit-transform: translate(-230px, -75px) scale(0.5, 0.5);
	opacity: 1;
}
12% {
	-webkit-transform: translate(-260px, -40px) rotate(0deg) scale(0.7, 0.7);
}
16% {
	-webkit-transform: translate(-140px, -105px) scale(1, 1);
}
21% {
	-webkit-transform: translate(-120px, -195px) scale(1, 1);
}
29% {
	-webkit-transform: translate(3px, -347px) rotate(45deg);
	opacity: 0
}
100% {
	-webkit-transform: translate(-163px, -500px);
}
}
@-webkit-keyframes fla3 {
0% {
	-webkit-transform: translate(0px, 0px) scale(0.3, 0.3);
	opacity: 0
}
8% {
	-webkit-transform: translate(-230px, -75px) scale(0.5, 0.5);
	opacity: 1;
}
12% {
	-webkit-transform: translate(-200px, -84px) scale(0.7, 0.7) rotate(0deg);
}
16% {
	-webkit-transform: translate(-217px, -195px) scale(1, 1);
}
21% {
	-webkit-transform: translate(-217px, -243px) scale(1, 1);
}
29% {
	-webkit-transform: translate(-185px, -347px) rotate(-45deg);
	opacity: 0
}
100% {
	-webkit-transform: translate(-163px, -500px);
}
}
#page1 {
position: absolute;
left: 0px;
}
#page2, #pagetitle {
position: absolute;
}
#box1 > img, #box2 > img, #boxtitle > img {
position: absolute;
}
@-webkit-keyframes qiqiu {
from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(10deg);
}
}
@-webkit-keyframes qiqiu1 {
from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(-10deg);
}
}
@-webkit-keyframes showup {
0% {
	-webkit-transform: translate(0px, 900px);
	-webkit-timing-function: ease-out;
}
32% {
	-webkit-transform: translate(0px, 120px);
	-webkit-timing-function: linear
}
68% {
	-webkit-transform: translate(0px, -120px);
	-webkit-timing-function: linear
}
100% {
	-webkit-transform: translate(0px, -700px);
	-webkit-timing-function: ease-in
}
}
@-webkit-keyframes huangdong {
from {
	-webkit-transform: translate(-20px, 0px);
}
to {
	-webkit-transform: translate(20px, 0px);
}
}
@-webkit-keyframes title_out {
from {
	-webkit-transform: translate(0px, 0px);
}
to {
	-webkit-transform: translate(0px, -700px);
}
}