*
{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
}

body
{
    background-color: black;
}

#container
{
    width: 500px;
    height: 815px;
    position: absolute;
    overflow: hidden;
}
#container >div,#container > img,#titleup>img,#titledown>img
{
    position: absolute;
}
#mo1
{
    left: -222px;
    top: -128px;
    opacity: 0;
}
#mo2
{
    left: -155px;
    top: 589px;
    opacity: 0;
}
#moxian1
{
    left: 58px;
    top: 504px;
    -webkit-transform-origin: 10% 50%;
    opacity: 0;
}
#moxian2
{
    left: 61px;
    top: 171px;
    width: 390px;
    -webkit-transform-origin: 10% 50%;
    opacity: 0;
}
#hua1
{
    left: 373px;
    top: 127px;
    opacity: 0;
    -webkit-transform-origin: 50% 90%;
}
#mofen
{
    left: 33px;
    top: 396px;
    opacity: 0;
}
#heye1
{
    left: 43px;
    top: 471px;
    opacity: 0;
}
#mozi
{
    left: 72px;
    top: 398px;
    opacity: 0;
}
#shangzi
{
    left: 148px;
    top: 417px;
    opacity: 0;
}
#huazi
{
    left: 142px;
    top: 469px;
    opacity: 0;
}
#kaizi
{
    left: 205px;
    top: 468px;
    opacity: 0;
}
#heye2
{
    left: 242px;
    top: 573px;
    opacity: 0;
    width: 95px;
    height: 107px;
}
#lianhua1
{
    left: 300px;
    top: 542px;
    opacity: 0;
    width: 97px;
    height: 116px;
}
#lianhua2
{
    left: 405px;
    top: 561px;
    opacity: 0;
    width: 23px;
    height: 72px;
}
#heye3
{
    left: 341px;
    top: 629px;
    opacity: 0;
}
.div1v
{
    width: 437px;
    height: 639px;
    left: 30px;
    top: 50px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
.div1h
{
    width: 437px;
    height: 309px;
    left: 30px;
    top: 192px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
.div21h
{
    width: 437px;
    height: 290px;
    left: 30px;
    top: 56px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
.div22h
{
    width: 437px;
    height: 290px;
    left: 30px;
    top: 383px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
.div21v
{
    width: 250px;
    height: 350px;
    left: 215px;
    top: 29px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
.div22v
{
    width: 250px;
    height: 350px;
    left: 28px;
    top: 342px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
#div41h
{
    width: 410px;
    height: 290px;
    left: 66px;
    top: 60px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
#div42h
{
    width: 410px;
    height: 290px;
    left: 13px;
    top: 380px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;

    opacity: 0;
}
#div41v
{
    width: 250px;
    height: 350px;
    left: 225px;
    top: 39px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
#div42v
{
    width: 250px;
    height: 350px;
    left: 28px;
    top: 342px;
    overflow: hidden;
    box-shadow: 5px 3px 20px #03202B;
    opacity: 0;
}
@-webkit-keyframes fadein
{
    from  {opacity: 0}
    to    {opacity: 1}
}
@-webkit-keyframes modian_in
{
    from  {-webkit-transform: scale(0.3);opacity: 1}
    to    {-webkit-transform: scale(1);opacity: 1}
}
@-webkit-keyframes heye3_in
{
    from  {-webkit-transform: scale(0.3);opacity: 0}
    to    {-webkit-transform: scale(1);opacity: 1}
}
@-webkit-keyframes heye1_in
{
    from  {-webkit-transform: scale(0.2);opacity: 0}
    to    {-webkit-transform: scale(1);opacity: 1}
}
@-webkit-keyframes heye_ani
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(5deg);}
}
@-webkit-keyframes mo1_in
{
    from  {-webkit-transform: translate(50px,-20px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes title_in
{
    from  {-webkit-transform: scale(1.05,1);opacity: 0}
    to    {-webkit-transform: scale(1,1);opacity: 1}
}
@-webkit-keyframes shuiwen
{
    0%  {-webkit-transform: scale(0.8);opacity: 0}
    50% {-webkit-transform: scale(1);opacity: 1}
    100%{-webkit-transform: scale(1.2);opacity: 0}
}
@-webkit-keyframes shuiwen2
{
    0%  {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100%{opacity: 0}
}
@-webkit-keyframes guangdian1
{
    0%   {opacity: 0;-webkit-transform:translate(0px,0px);}
    20%  {opacity: 1;-webkit-transform: translate(0px,0px);}
    100% {opacity: 1;-webkit-transform: translate(-377px,0px);}
}
@-webkit-keyframes guangdian2
{
    0%   {opacity: 0;-webkit-transform: translate(0px,0px);}
    20%  {opacity: 1;-webkit-transform: translate(0px,0px);}
    100% {opacity: 1;-webkit-transform: translate(377px,0px);}
}
@-webkit-keyframes yuwei
{
    from  {-webkit-transform: rotate(-20deg);}
    to    {-webkit-transform: rotate(20deg);}
}
@-webkit-keyframes yuchi1
{
    from  {-webkit-transform: scale(-0.5,1.3);}
    to    {-webkit-transform: scale(-1.2,1);}
}
@-webkit-keyframes yuchi2
{
    from  {-webkit-transform: scale(0.5,1.3);}
    to    {-webkit-transform: scale(1.2,1);}
}
@-webkit-keyframes yuyou1
{
    0%  {-webkit-transform: rotate(0deg);}
    70% {-webkit-transform: rotate(-51deg);}
    100%{-webkit-transform: rotate(-51deg);}
}
@-webkit-keyframes yuyou11
{
    0%  {-webkit-transform: rotate(90deg);}
    70% {-webkit-transform: rotate(90deg);}
    75% {-webkit-transform: translate(0px,0px) rotate(-189deg);}
    100%{-webkit-transform: translate(0px,190px) rotate(-189deg);}
}
@-webkit-keyframes yuyou2
{
    0%  {-webkit-transform: translate(0px,0px) rotate(-80deg);}
    60% {-webkit-transform: translate(25px,-160px) rotate(-65deg);}
    65% {-webkit-transform: translate(25px,-156px) rotate(-45deg);}
    100%{-webkit-transform: translate(125px,-209px) rotate(-25deg);}
}
@-webkit-keyframes fadeout
{
    from  {opacity: 1}
    to    {opacity: 0}
}
@-webkit-keyframes title_out
{
    from  {-webkit-transform: scale(1);opacity: 1}
    to    {-webkit-transform: scale(1.2);opacity: 0}
}
@-webkit-keyframes div1_in
{
    from  {-webkit-transform: scale(1.05);opacity: 0}
    to    {-webkit-transform: scale(1);opacity: 1}
}
@-webkit-keyframes div1_out
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(0px,-30px);opacity: 0}
}
@-webkit-keyframes div2_in
{
    from  {-webkit-transform: translate(0px,30px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes div21_out
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(40px,0px);opacity: 0}
}
@-webkit-keyframes div22_out
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(-40px,0px);opacity: 0;}
}
@-webkit-keyframes div3_in
{
    from  {-webkit-transform: translate(0px,-50px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes div3_out
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(0px,20px);opacity: 0}
}
@-webkit-keyframes div41_in
{
    from  {-webkit-transform: translate(30px,0px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes div42_in
{
    from  {-webkit-transform: translate(-30px,0px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes div41_out
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(30px,0px);opacity: 0}
}
@-webkit-keyframes div42_out
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(-30px,0px);opacity: 0}
}
