
*
{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
}

body
{
    background-color: black;
}

#container
{
    width: 500px;
    height: 815px;
    position: absolute;
    overflow: hidden;
}
#container >img,#container > div
{
    position: absolute;
}
#pagetitle
{
    width: 456px;
    height: 254px;
    left: 24px;
    top: 199px;
    opacity: 0;
}
#flower1 > img,#flower2> img,#hudie>img
{
    position: absolute;
}
#hudie
{
    left: 527px;
    top: 600px;
    -webkit-transform: translate(0px,0px) rotate(45deg);
    width: 91px;
    height: 141px;
}
.wordbg
{
    position: absolute;
    background-color: rgba(255,255,255,0.45);
    height: 163px;
    width: 500px;
    left: -94px;
    top: 40px;
    opacity: 0;
}
.wordbg1
{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    height: 163px;
    width: 500px;
    left: -54px;
    top: 80px;
    opacity: 0;
}
.wordbg_2
{
    position: absolute;
    background-color: rgba(255,255,255,0.45);
    height: 102px;
    width: 500px;
    left: -94px;
    top: 62px;
    opacity: 0;
}
.wordbg1_2
{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    height: 102px;
    width: 500px;
    left: -64px;
    top: 102px;
    opacity: 0;
}
.wordbg_1
{
    position: absolute;
    background-color: rgba(255,255,255,0.45);
    height: 74px;
    width: 500px;
    left: -94px;
    top: 84px;
    opacity: 0;
}
.wordbg1_1
{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    height: 74px;
    width: 500px;
    left: -64px;
    top: 120px;
    opacity: 0;
}
#div1
{
    width: 438px;
    height: 438px;
    left: 30px;
    top: 165px;
    display: none;
}
#div4
{
    width: 438px;
    height: 438px;
    left: 30px;
    top: 165px;
    display: none;
}
[id^='div'] >img,[id^='div'] > div
{
    position: absolute;
}
.box1
{
    border-radius:189px;
    width:378px;
    height:378px;
    left:29px;
    top:34px;
}
#div2v
{
    width: 391px;
    height: 564px;
    left: 57px;
    top: 113px;
    display: none;
}
.box2v
{
    width: 335px;
    height: 508px;
    left: 28px;
    top: 30px;
}
#div2h
{
    width: 477px;
    height: 335px;
    left: 18px;
    top: 205px;
    display: none;
}
.box2h
{
    position: absolute;
    left: 27px;
    top: 22px;
    width: 414px;
    height: 277px;
}
#div3v
{
    width: 391px;
    height: 564px;
    left: 57px;
    top: 113px;
    display: none;
}
#div3h
{
    width: 477px;
    height: 335px;
    left: 18px;
    top: 205px;
    display: none;
}
@-webkit-keyframes rotateright
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(80deg);}
}
@-webkit-keyframes rotate2
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(-30deg);}
}
@-webkit-keyframes rotate3
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(10deg);}
}
@-webkit-keyframes rotate4
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes fadein
{
    from  {opacity: 0}
    to    {opacity: 1}
}
@-webkit-keyframes fadeout
{
    from  {opacity: 1}
    to    {opacity: 0}
}
@-webkit-keyframes fadeinright
{
    from  {opacity: 0;-webkit-transform: translate(-15px,0px);}
    to    {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes in_scale
{
    from  {-webkit-transform: scale(0.1);}
    to    {-webkit-transform: scale(1);}
}
@-webkit-keyframes chibang
{
    0%  {-webkit-transform: scale(1,1);}
    8%  {-webkit-transform: scale(1,0.1);}
    24% {-webkit-transform: scale(1,1);}
    32% {-webkit-transform: scale(1,0.1);}
    48% {-webkit-transform: scale(1,1);}
    72% {-webkit-transform: scale(1,0.1);}
    100%{-webkit-transform: scale(1,1);}
}
@-webkit-keyframes chibang1
{
    0%  {-webkit-transform: scale(1,-1);}
    8%  {-webkit-transform: scale(1,-0.1);}
    24% {-webkit-transform: scale(1,-1);}
    32% {-webkit-transform: scale(1,-0.1);}
    48% {-webkit-transform: scale(1,-1);}
    72% {-webkit-transform: scale(1,-0.1);}
    100%{-webkit-transform: scale(1,-1);}
}
@-webkit-keyframes hudie_fly
{
    0%   {-webkit-transform: translate(0px,0px) rotate(50deg);}
    55%  {-webkit-transform: translate(-320px,-270px) rotate(45deg)}
    100% {-webkit-transform: translate(-635px,-503px) rotate(15deg);}

}
@-webkit-keyframes out_title
{
    from  {-webkit-transform: translate(0px,0px) scale(1,1);opacity: 1}
    to    {-webkit-transform: translate(-127px,350px) scale(.6,.6);opacity: 1}
}
@-webkit-keyframes change_title_color
{
    from  {color: #FF9900;}
    to    {color: #8E4A00;}
}
@-webkit-keyframes in_worddi
{
    from  {opacity: 0;-webkit-transform: translate(-30px,0px);}
    to    {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes in_div1
{
    from {-webkit-transform: translate(500px,0px) rotate(90deg);}
    to   {-webkit-transform: translate(0px,0px) rotate(0deg);}
}
@-webkit-keyframes out_div1
{
    from  {-webkit-transform: translate(0px,0px) rotate(0deg);}
    to    {-webkit-transform: translate(550px,0px) rotate(90deg);}
}
@-webkit-keyframes flower1_to2
{
    from  {-webkit-transform: translate(0px,0px) scale(1);}
    to    {-webkit-transform: translate(13px,-54px) scale(1);}
}
@-webkit-keyframes flower2_to2
{
    from  {-webkit-transform: translate(0px,0px) scale(1);}
    to    {-webkit-transform: translate(7px,61px) scale(1);}
}
@-webkit-keyframes in_div2v
{
    from  {-webkit-transform: translate(-600px,0px);}
    to    {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes out_div2v
{
    to    {-webkit-transform: translate(-600px,0px);}
    from  {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes flower1_to3
{
    0%   {-webkit-transform: translate(13px,-54px) scale(1);}
    50%  {-webkit-transform: translate(-27px,-80px) scale(1);}
    100% {-webkit-transform: translate(13px,-54px) scale(1);}
}
@-webkit-keyframes flower2_to3
{
    from  {-webkit-transform: translate(7px,61px) scale(1);}
    to    {-webkit-transform: translate(-409px,565px) scale(1);}
}
@-webkit-keyframes flower2_to3h
{
    from  {-webkit-transform: translate(7px,61px) scale(1);}
    to    {-webkit-transform: translate(-409px,465px) scale(1);}
}
@-webkit-keyframes in_div3v
{
    from  {-webkit-transform: translate(444px,-586px);}
    to    {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes in_div3h
{
    from  {-webkit-transform: translate(485px,-438px);}
    to    {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes out_div3v
{
    to    {-webkit-transform: translate(444px,-586px);}
    from  {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes out_div3h
{
    to    {-webkit-transform: translate(485px,-438px);}
    from  {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes in_div4
{
    from  {-webkit-transform: translate(-500px,0px);}
    to    {-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes out_div4
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(0px,-300px);opacity: 0}
}
@-webkit-keyframes flower1_to4
{
    from  {-webkit-transform: translate(13px,-54px) scale(1);}
    to    {-webkit-transform: translate(0px,0px) scale(1);}
}
@-webkit-keyframes flower2h_to4
{
    from  {-webkit-transform: translate(-409px,465px) scale(1);}
    to    {-webkit-transform: translate(-2px,543px) scale(1);;}
}
@-webkit-keyframes flower2_to4
{
    from  {-webkit-transform: translate(-409px,565px) scale(1);}
    to    {-webkit-transform: translate(-2px,543px) scale(1);}
}
@-webkit-keyframes flower2_to1
{
    from  {-webkit-transform: translate(-2px,543px) scale(1);}
    to    {-webkit-transform: translate(0px,0px) scale(1);}
}
@-webkit-keyframes rotate_kuang
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(360deg);}
}