*
    {
        padding: 0px;
        margin: 0px;
        -webkit-box-sizing: border-box;
    }

    body
    {
        background-color: black;
    }

    #container
    {
        width: 500px;
        height: 815px;
        position: absolute;
        overflow: hidden;
        background-image: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/1.jpg);
        /*left: 500px; */
    }
    .box
    {
        width: 500px;
        height: 815px;
        position: absolute;
        -webkit-transform-origin: 50% 200%;
        display: none;
        -webkit-transform: rotate(30deg);
    }
/*    #box_1
    {
        -webkit-animation: div_rotate 2s linear forwards;
    }*/
    #box_1_border
    {
        position: absolute;
        top: 182px;
        left: 5px;
    }
    #box_2_border
    {
        position: absolute;
        top: 212px;
        left: -38px;
    }
    #box_3_border
    {
        position: absolute;
        top: 170px;
        left: -31px;
    }
    #box_4_border
    {
        position: absolute;
        top: 225px;
    }
    #box_5_border
    {
        position: absolute;
        top: 203px;
        left: -50px;
    }
    #box_6_border
    {
        position: absolute;
        top: 155px;
        left: -45px;
    }
    #box_6_1_border
    {
        position: absolute;
        top: 390px;
        left: 190px;

    }
    #box_7_border
    {
        position: absolute;
        top: 186px;
    }
    #img_div_0
    {
        position: absolute;
        width: 417px;
        height: 426px;
        top: 275px;
        left: 48px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/2.png);
    }
    #img_div_1
    {
        position: absolute;
        width: 480px;
        height: 392px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/2000.png);
        top: 302px;
        left: 10px;

    }
    #img_div_2
    {
        position: absolute;
        width: 488px;
        height: 421px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/3.png);
        top: 282px;
        left: 11px;

    }
    #img_div_3
    {
        position: absolute;
        width: 403px;
        height: 420px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/4.png);
        top: 277px;
        left: 52px;
        /*overflow: hidden;*/
    }
    #img_div_4
    {
        position: absolute;
        width: 508px;
        height: 408px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/5.png);
        top: 290px;
        left: -4px;

    }
    #img_div_5
    {
        position: absolute;
        width: 416px;
        height: 426px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/6.png);
        top: 249px;
        left: -3px;
    }
    #img_div_5_1
    {
        position: absolute;
        width: 315px;
        height: 314px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/7.png);
        top: 428px;
        left: 227px;

    }
    #img_div_6
    {
        position: absolute;
        width: 320px;
        height: 336px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/9.png);
        top: 379px;
        left: 66px;

    }
    #img_div_7
    {
        position: absolute;
        width: 233px;
        height: 193px;
        -webkit-mask: url(http://referer-image.szwwy.com/coolphoto/img/tpl6/10.png);
        top: 235px;
        left: 238px;
    }
    @-webkit-keyframes div_rotate
    {
        0%   {-webkit-transform: rotate(30deg);-webkit-animation-timing-function: ease-out;}
        20.25%  {-webkit-transform: rotate(-2deg);}
        24%  {-webkit-transform: rotate(0deg);}
        37.5%  {-webkit-transform: rotate(0deg);}
        54.75%  {-webkit-transform: rotate(0deg);}
        58.5%  {-webkit-transform: rotate(2deg);-webkit-animation-timing-function: ease-in;}
        75% {-webkit-transform: rotate(-30deg);}
        100% {-webkit-transform: rotate(-30deg);}
    }

    @-webkit-keyframes div_rotate_in
    {
        0%   {-webkit-transform: rotate(30deg);}
        80%  {-webkit-transform: rotate(-2deg);-webkit-animation-timing-function: ease-out;}
        100%  {-webkit-transform: rotate(0deg);}
/*        50%  {-webkit-transform: rotate(0deg);}
        78%  {-webkit-transform: rotate(2deg);-webkit-animation-timing-function: ease-in;}
        100% {-webkit-transform: rotate(-30deg);}*/
    }

    @-webkit-keyframes div_rotate_out
    {
/*        0%   {-webkit-transform: rotate(30deg);-webkit-animation-timing-function: ease-out;}
        27%  {-webkit-transform: rotate(-2deg);}
        32%  {-webkit-transform: rotate(0deg);}*/
        0%  {-webkit-transform: rotate(0deg);}
        16%  {-webkit-transform: rotate(2deg);-webkit-animation-timing-function: ease-in;}
        100% {-webkit-transform: rotate(-30deg);}
    }
    @-webkit-keyframes cloudmove
    {
        from{-webkit-transform:translate(0px,0px);}
        to  {-webkit-transform:translate(-700px,0px);}
    }
    .cloud
    {
        position: absolute;
        left: 500px;
    }

    @-webkit-keyframes heart0_1_ani
    {
        0%   {-webkit-transform:translate(70px,290px) rotate(-20deg) scale(0.5,0.5);opacity: 1}
        70% {-webkit-transform:translate(20px,210px) rotate(-30deg) scale(1,1);opacity: 1}
        100% {-webkit-transform:translate(0px,170px) rotate(-30deg) scale(1.2,1.2);opacity: 0}
    }

    @-webkit-keyframes heart0_0_ani
    {
        0%   {-webkit-transform:translate(100px,330px) rotate(20deg);opacity: 1}
        70%  {-webkit-transform:translate(130px,160px) rotate(20deg);opacity: 1}
        100% {-webkit-transform:translate(150px,110px) rotate(20deg);opacity: 0}
    }

    @-webkit-keyframes heart0_2_ani
    {
        0%   {-webkit-transform:translate(100px,340px) rotate(40deg);opacity: 1}
        50%  {-webkit-transform:translate(140px,320px) rotate(40deg);;opacity: 1}
        100% {-webkit-transform:translate(180px,260px) rotate(40deg);opacity: 0}
    }

    @-webkit-keyframes heart1_1_ani
    {
        0%   {-webkit-transform:translate(370px,640px) rotate(-20deg) scale(0.5,0.5);opacity: 1}
        70%  {-webkit-transform:translate(320px,560px) rotate(-30deg) scale(1,1);opacity: 1}
        100% {-webkit-transform:translate(300px,520px) rotate(-30deg) scale(1.2,1.2);opacity: 0}
    }

    @-webkit-keyframes heart1_0_ani
    {
        0%   {-webkit-transform:translate(400px,680px) rotate(20deg);opacity: 1}
        70%  {-webkit-transform:translate(430px,510px) rotate(20deg);opacity: 1}
        100% {-webkit-transform:translate(450px,460px) rotate(20deg);opacity: 0}
    }

    @-webkit-keyframes heart1_2_ani
    {
        0%   {-webkit-transform:translate(400px,690px) rotate(40deg);opacity: 1}
        50%  {-webkit-transform:translate(440px,670px) rotate(40deg);;opacity: 1}
        100% {-webkit-transform:translate(480px,610px) rotate(40deg);opacity: 0}
    }

    @-webkit-keyframes heart2_1_ani
    {
        0%   {-webkit-transform:translate(70px,640px) rotate(-20deg) scale(0.5,0.5);opacity: 1}
        70%  {-webkit-transform:translate(20px,560px) rotate(-30deg) scale(1,1);opacity: 1}
        100% {-webkit-transform:translate(00px,520px) rotate(-30deg) scale(1.2,1.2);opacity: 0}
    }

    @-webkit-keyframes heart2_0_ani
    {
        0%   {-webkit-transform:translate(100px,680px) rotate(20deg);opacity: 1}
        70%  {-webkit-transform:translate(130px,510px) rotate(20deg);opacity: 1}
        100% {-webkit-transform:translate(150px,460px) rotate(20deg);opacity: 0}
    }

    @-webkit-keyframes heart2_2_ani
    {
        0%   {-webkit-transform:translate(100px,690px) rotate(40deg);opacity: 1}
        50%  {-webkit-transform:translate(140px,670px) rotate(40deg);;opacity: 1}
        100% {-webkit-transform:translate(180px,610px) rotate(40deg);opacity: 0}
    }

    @-webkit-keyframes heart3_1_ani
    {
        0%   {-webkit-transform:translate(370px,400px) rotate(-20deg) scale(0.5,0.5);opacity: 1}
        70% {-webkit-transform:translate(320px,320px) rotate(-30deg) scale(1,1);opacity: 1}
        100% {-webkit-transform:translate(300px,280px) rotate(-30deg) scale(1.2,1.2);opacity: 0}
    }

    @-webkit-keyframes heart3_0_ani
    {
        0%   {-webkit-transform:translate(400px,440px) rotate(20deg);opacity: 1}
        70%  {-webkit-transform:translate(430px,270px) rotate(20deg);opacity: 1}
        100% {-webkit-transform:translate(450px,220px) rotate(20deg);opacity: 0}
    }

    @-webkit-keyframes heart3_2_ani
    {
        0%   {-webkit-transform:translate(400px,450px) rotate(40deg);opacity: 1}
        50%  {-webkit-transform:translate(440px,430px) rotate(40deg);;opacity: 1}
        100% {-webkit-transform:translate(480px,370px) rotate(40deg);opacity: 0}
    }
    .img_con
    {
        position: absolute;
    }

    @-webkit-keyframes aa_in_flip_x
    {
        0%{
            -webkit-transform:perspective(400px) rotateX(90deg);
            opacity:0
        }
        40%{
            -webkit-transform:perspective(400px) rotateX(-10deg)
        }
        70%{
            -webkit-transform:perspective(400px) rotateX(10deg)
        }
        100%{
            -webkit-transform:perspective(400px) rotateX(0deg);
            opacity:1
        }
    }
    @-webkit-keyframes aa_out_flip_x
    {
        0%{
            -webkit-transform:perspective(400px) rotateX(0deg);
            opacity:1
        }
        100%{
            -webkit-transform:perspective(400px) rotateX(90deg);
            opacity:0
        }
    }