#container {
    width: 500px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#container>img {
    position: absolute;
}

.treebottom {
    left: 0px;
    top: 625px;
    position: absolute;
}

.timo1 {
    left: 202px;
    top: 579px;
}

.timo1_1 {
    left: 202px;
    top: 579px;
    -webkit-animation: fade_in 1.2s linear infinite alternate;
}

.timo2 {
    left: 83px;
    top: 670px;
}

.timo2_2 {
    left: 83px;
    top: 670px;
    -webkit-animation: fade_in 1.2s 0.3s linear infinite alternate;
    opacity: 0;
}

.timo3 {
    left: 44px;
    top: 707px;
}

.timo3_3 {
    left: 44px;
    top: 707px;
    -webkit-animation: fade_in 1.2s 0.9s linear infinite alternate;
    opacity: 0;
}

.timo4 {
    left: 8px;
    top: 708px;
}

.timo4_4 {
    left: 8px;
    top: 708px;
    -webkit-animation: fade_in 1.2s 0.5s linear infinite alternate;
    opacity: 0;
}

.timo5 {
    left: 158px;
    top: 738px;
}

.timo5_5 {
    left: 169px;
    top: 738px;
    -webkit-animation: fade_in 1.2s 0.1s linear infinite alternate;
    opacity: 0;
}

.timo6 {
    left: 101px;
    top: 701px;
}

.timo6_6 {
    left: 104px;
    top: 700px;
    -webkit-animation: fade_in 1.2s 1.0s linear infinite alternate;
    opacity: 0;
}

.timo7 {
    left: 135px;
    top: 693px;
}

.timo7_7 {
    left: 127px;
    top: 697px;
    -webkit-animation: fade_in 1.2s 0.7s linear infinite alternate;
    opacity: 0;
}

.guangban {
    left: 224px;
    top: -11px;
    -webkit-animation: guangbanfade 2s linear infinite alternate;
}

.guangban1 {
    left: 326px;
    top: -10px;
    width: 91px;
    -webkit-animation: guangban2 4s linear infinite;
}

.guangban2 {
    left: 380px;
    top: 49px;
    -webkit-animation: fade_in 3s linear infinite alternate;
}

.guangban3 {
    left: 465px;
    top: 133px;
    width: 60px;
    opacity: 0;
    -webkit-animation: fade_in 3s 3s linear infinite alternate;
}

.yinghuochong {
    width: 150px;
    height: 150px;
    position: absolute;
}

.yinghuochong > img {
    position: absolute;
}

.yan {
    left: 66px;
    top: 31px;
}

.chileft {
    left: 80px;
    top: 47px;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: scale(-1, 1) rotate(0deg);
    -webkit-animation: wingingleft 0.1s linear infinite alternate;
}

.chiright {
    left: 77px;
    top: 47px;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotate(0deg);
    -webkit-animation: wingingright 0.1s linear infinite alternate;
}

.yingguang {
    -webkit-animation: yingguang 0.6s linear infinite alternate;
}

#yinghuochong1 {
    left: -46px;
    top: 105px;
    -webkit-transform: scale(0.15) rotate(27deg);
}

#yinghuochong2 {
    left: 37px;
    top: 702px;
    -webkit-transform: scale(0.15) rotate(64deg);
}

#yinghuochong3 {
    left: 271px;
    top: 649px;
    -webkit-transform: scale(0.15) rotate(-20deg);
    /*-webkit-transform: translate(-77px,-116px) scale(0.15) rotate(21deg);*/
    -webkit-animation: yinghuochong3 10s linear infinite;
}

#yinghuochong4 {
    left: 161px;
    top: 551px;
    -webkit-transform: scale(0.15);
    -webkit-animation: yinghuochong4 12s linear infinite;
}

#yinghuochong5 {
    left: 157px;
    top: 730px;
    -webkit-transform: scale(0.15);
    -webkit-animation: yinghuochong5 10s linear infinite;
}

#yinghuochong6 {
    left: 191px;
    top: 631px;
    -webkit-transform: scale(0.12) rotate(-74deg);
}

#yinghuochong7 {
    left: 438px;
    top: 10px;
    -webkit-transform: scale(0.15) rotate(-75deg);
    -webkit-animation: yinghuochong7 12s linear infinite;
}

#yinghuochong8 {
    left: 196px;
    top: -39px;
    -webkit-transform: scale(0.15);
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: yinghuochong8 10s linear infinite;
}

.yanwu {
    left: 126px;
    top: 122px;
    width: 279px;
    -webkit-transform-origin: 50% 0%;
    opacity: 0;
}

.yanwu1 {
    left: 0px;
    top: 0px;
    -webkit-animation: yanwu1 3s linear infinite;
}

.yanwu2 {
    left: 0px;
    top: 0px;
    -webkit-animation: yanwu1 5s linear infinite;
}

.kuangh {
    left: 10px;
    top: 200px;
    position: absolute;
}

#img1h,
#img1v,
#img2h,
#img2v,
#div1,
#div2 {
    position: absolute;
}

.divh {
    position: absolute;
    width: 435px;
    height: 300px;
    overflow: hidden;
    left: 35px;
    top: 222px;
}

.kuangv {
    left: 44px;
    top: 112px;
    position: absolute;
}

.divv {
    width: 383px;
    height: 585px;
    position: absolute;
    left: 58px;
    top: 128px;
    overflow: hidden;
}

#page1,
#page2 {
    opacity: 0;
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.5
    }
}

@-webkit-keyframes guangbanfade {
    from {
        opacity: 0
    }
    to {
        opacity: 0.7
    }
}

@-webkit-keyframes guangban2 {
    0% {
        opacity: 0.7;
        -webkit-transform: rotate(0deg);
    }
    60% {
        opacity: 0.7;
        -webkit-transform: rotate(0deg);
    }
    65% {
        opacity: 0.7;
        -webkit-transform: rotate(30deg);
    }
    75% {
        opacity: 0;
        -webkit-transform: rotate(30deg);
    }
    92% {
        opacity: 0.7;
        -webkit-transform: rotate(30deg);
    }
    97% {
        opacity: 0.7;
        -webkit-transform: rotate(0deg);
    }
    100% {
        opacity: 0.7;
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes wingingleft {
    from {
        -webkit-transform: scale(-1, 1) rotate(0deg);
    }
    to {
        -webkit-transform: scale(-1, 1) rotate(-30deg);
    }
}

@-webkit-keyframes wingingright {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-30deg);
    }
}

@-webkit-keyframes yingguang {
    from {
        opacity: 1
    }
    to {
        opacity: 0.5
    }
}

@-webkit-keyframes yinghuochong3 {
    0% {
        -webkit-transform: scale(0.15) rotate(-30deg);
    }
    36% {
        -webkit-transform: translate(-77px, -116px) scale(0.15) rotate(-30deg);
    }
    37% {
        -webkit-transform: translate(-77px, -116px) scale(0.15) rotate(21deg);
    }
    46% {
        -webkit-transform: translate(-75px, -141px) scale(0.15) rotate(2deg);
    }
    50% {
        -webkit-transform: translate(-83px, -156px) scale(0.15) rotate(-31deg);
    }
    58% {
        -webkit-transform: translate(-114px, -164px) scale(0.15) rotate(-92deg);
    }
    65% {
        -webkit-transform: translate(-153px, -157px) scale(0.15) rotate(-73deg);
    }
    100% {
        -webkit-transform: translate(-355px, -189px) scale(0.15) rotate(-65deg);
    }
}

@-webkit-keyframes yinghuochong4 {
    0% {
        -webkit-transform: scale(0.15) rotate(60deg);
    }
    15% {
        -webkit-transform: translate(71px, -32px) scale(0.15) rotate(20deg);
    }
    /*16% {-webkit-transform: translate(71px,-32px) scale(0.15) rotate(10deg);}*/
    /*24% {-webkit-transform: translate(76px,-73px) scale(0.15) rotate(10deg);}*/
    25% {
        -webkit-transform: translate(76px, -73px) scale(0.15) rotate(60deg);
    }
    34% {
        -webkit-transform: translate(102px, -86px) scale(0.15) rotate(10deg);
    }
    40% {
        -webkit-transform: translate(105px, -111px) scale(0.15) rotate(-45deg);
    }
    51% {
        -webkit-transform: translate(70px, -154px) scale(0.15) rotate(30deg);
    }
    59% {
        -webkit-transform: translate(82px, -178px) scale(0.15) rotate(70deg);
    }
    82% {
        -webkit-transform: translate(186px, -211px) scale(0.15) rotate(100deg);
    }
    92% {
        -webkit-transform: translate(219px, -207px) scale(0.15) rotate(110deg);
    }
    100% {
        -webkit-transform: translate(272px, -201px) scale(0.15) rotate(110deg);
    }
}

@-webkit-keyframes yinghuochong5 {
    0% {
        -webkit-transform: translate(0px, 0px) scale(0.15) rotate(60deg);
    }
    27% {
        -webkit-transform: translate(106px, -63px) scale(0.15) rotate(45deg);
    }
    34% {
        -webkit-transform: translate(120px, -82px) scale(0.15) rotate(-20deg);
    }
    41% {
        -webkit-transform: translate(110px, -108px) scale(0.15) rotate(40deg);
    }
    49% {
        -webkit-transform: translate(127px, -132px) scale(0.15) rotate(70deg);
    }
    58% {
        -webkit-transform: translate(167px, -143px) scale(0.15) rotate(90deg);
    }
    69% {
        -webkit-transform: translate(218px, -146px) scale(0.15) rotate(45deg);
    }
    79% {
        -webkit-transform: translate(243px, -175px) scale(0.15) rotate(20deg);
    }
    89% {
        -webkit-transform: translate(245px, -209px) scale(0.15) rotate(45deg);
    }
    100% {
        -webkit-transform: translate(273px, -235px) scale(0.15) rotate(60deg);
    }
}

@-webkit-keyframes yinghuochong7 {
    0% {
        -webkit-transform: scale(0.15) rotate(-75deg);
    }
    50% {
        -webkit-transform: translate(-192px, -95px) scale(0.15) rotate(-75deg);
    }
    100% {
        -webkit-transform: translate(-192px, -95px) scale(0.15) rotate(-75deg);
    }
}

@-webkit-keyframes yinghuochong8 {
    0% {
        -webkit-transform: scale(0.15) rotate(160deg);
    }
    18% {
        -webkit-transform: translate(26px, 91px) scale(0.15) rotate(120deg);
    }
    31% {
        -webkit-transform: translate(75px, 123px) scale(0.15) rotate(100deg);
    }
    41% {
        -webkit-transform: translate(127px, 119px) scale(0.15) rotate(80deg);
    }
    51% {
        -webkit-transform: translate(158px, 89px) scale(0.15) rotate(60deg);
    }
    61% {
        -webkit-transform: translate(175px, 55px) scale(0.15) rotate(45deg);
    }
    70% {
        -webkit-transform: translate(196px, 84px) scale(0.15) rotate(120deg);
    }
    78% {
        -webkit-transform: translate(223px, 99px) scale(0.15) rotate(100deg);
    }
    90% {
        -webkit-transform: translate(263px, 100px) scale(0.15) rotate(90deg);
    }
    100% {
        -webkit-transform: translate(305px, 69px) scale(0.15) rotate(50deg);
    }
}

@-webkit-keyframes pubu {
    0% {
        -webkit-transform: scale(1, 0.5);
        opacity: 0
    }
    10% {
        -webkit-transform: scale(1, 1);
        opacity: 1
    }
    25% {
        -webkit-transform: translate(0px, 200px) scale(1, 1.1);
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes yanwu1 {
    0% {
        -webkit-transform: translate(0px, 0px);
        opacity: 0
    }
    20% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0px, 200px);
        opacity: 0;
    }
}

@-webkit-keyframes title_in {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, -50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes title_out {
    from {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0px, 50px);
    }
}

@-webkit-keyframes in_up {
    from {
        -webkit-transform: translate(0px, 20px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes out_up {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(0px, -20px);
        opacity: 0
    }
}

@-webkit-keyframes in_down {
    from {
        -webkit-transform: translate(0px, -20px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes out_down {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(0px, 20px);
        opacity: 0
    }
}

@-webkit-keyframes in_left {
    from {
        -webkit-transform: translate(20px, 0px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes out_left {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(-20px, 0px);
        opacity: 0
    }
}

@-webkit-keyframes in_right {
    from {
        -webkit-transform: translate(-20px, 0px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes out_right {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(20px, 0px);
        opacity: 0
    }
}

@-webkit-keyframes movingup {
    from {
        -webkit-transform: translate(0px, 20px);
    }
    to {
        -webkit-transform: translate(0px, -0px);
    }
}

@-webkit-keyframes movingdown {
    from {
        -webkit-transform: translate(0px, -20px);
    }
    to {
        -webkit-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes movingleft {
    from {
        -webkit-transform: translate(20px, 0px);
    }
    to {
        -webkit-transform: translate(-0px, 0px);
    }
}

@-webkit-keyframes movingright {
    from {
        -webkit-transform: translate(-20px, 0px);
    }
    to {
        -webkit-transform: translate(0px, 0px);
    }
}
