#container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0px;
    background-color: black;
}

#container> div,
#container> img {
    position: absolute;
}

#shang {
    left: 0px;
    -webkit-animation: shangmove 10s linear infinite alternate;
}

#xian {
    -webkit-animation: xianmove 4s linear infinite alternate;
}

#wenzi {
    left: 154px;
    top: 719px;
    -webkit-animation: wenzimove 4s linear infinite;
}

#xindiv {
    width: 500px;
    left: 0px;
    top: 0px;
    height: 500px;
}

#xindiv > img {
    position: absolute;
}

.sanjiaoup {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid rgba(160, 199, 238, 1);
    opacity: 0;
    /*display: none;*/
    /*border-bottom: 60px solid rgba(160,199,0,0.5);*/
    /*background-color: #fff;*/
}

.sanjiaodown {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    /*border-bottom: 60px solid rgba(160,199,238,0.5);*/
    border-top: 60px solid rgba(160, 199, 238, 1);
    opacity: 0;
    /*display: none;*/
    /*background-color: #fff;*/
}

#sanjiao1 {
    left: 79px;
    top: 291px;
}

#sanjiao2 {
    left: 167px;
    top: 291px;
}

#sanjiao3 {
    left: 250px;
    top: 291px;
}

#sanjiao4 {
    left: 332px;
    top: 291px;
}

#sanjiao5 {
    left: 123px;
    top: 353px;
}

#sanjiao6 {
    left: 209px;
    top: 353px;
}

#sanjiao7 {
    left: 291px;
    top: 353px;
}

#sanjiao8 {
    left: 82px;
    top: 412px;
}

#sanjiao9 {
    left: 165px;
    top: 412px;
}

#sanjiao10 {
    left: 249px;
    top: 412px;
}

#sanjiao11 {
    left: 330px;
    top: 412px;
}

#sanjiao12 {
    left: 124px;
    top: 472px;
}

#sanjiao13 {
    left: 207px;
    top: 472px;
}

#sanjiao14 {
    left: 289px;
    top: 472px;
}

#sanjiao15 {
    left: 123px;
    top: 293px;
}

#sanjiao16 {
    left: 209px;
    top: 291px;
}

#sanjiao17 {
    left: 291px;
    top: 290px;
}

#sanjiao18 {
    left: 80px;
    top: 353px;
}

#sanjiao19 {
    left: 166px;
    top: 353px;
}

#sanjiao20 {
    left: 250px;
    top: 353px;
}

#sanjiao21 {
    left: 334px;
    top: 353px;
}

#sanjiao22 {
    left: 124px;
    top: 411px;
}

#sanjiao23 {
    left: 207px;
    top: 412px;
}

#sanjiao24 {
    left: 290px;
    top: 410px;
}

#sanjiao25 {
    left: 81px;
    top: 473px;
}

#sanjiao26 {
    left: 166px;
    top: 472px;
}

#sanjiao27 {
    left: 248px;
    top: 471px;
}

#sanjiao28 {
    left: 330px;
    top: 471px;
}

#div1,
#div2,
#div1_view,
#div2_view,
#div3,
#div3_view {
    border: 5px solid #fff;
    box-shadow: 7px 14px 20px #666;
    position: absolute;
    opacity: 0;
}

@-webkit-keyframes shangmove {
    from {
        -webkit-transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(-80px, 0px);
    }
}

@-webkit-keyframes xianmove {
    from {
        -webkit-transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(-80px, 0px);
    }
}

@-webkit-keyframes wenzimove {
    0% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
    }
    35% {
        opacity: 0.5;
        -webkit-transform: scale(1, 1);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
    }
    85% {
        opacity: 1;
        -webkit-transform: scale(1, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
    }
}

@-webkit-keyframes titlein {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, -20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes titleout {
    from {
        opacity: 1;
        -webkit-transform: translate(0px, 00px);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0px, 20px);
    }
}

@-webkit-keyframes div1_in {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes div1_out {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes div1_view_in {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2);
    }
    to {
        opacity: 0.3;
        -webkit-transform: scale(1.8);
    }
}

@-webkit-keyframes div1_view_out {
    from {
        opacity: 0.3;
        -webkit-transform: scale(1.8);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(1.8);
    }
}

@-webkit-keyframes div2_in {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, 0px) scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0px, 30px) scale(1);
    }
}

@-webkit-keyframes div2_out {
    from {
        opacity: 1;
        -webkit-transform: translate(0px, 30px) scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0px, 60px) scale(1);
    }
}

@-webkit-keyframes div2_view_in {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, 0px) scale(1.8);
    }
    to {
        opacity: 0.3;
        -webkit-transform: translate(-50px, 0px) scale(1.8);
    }
}

@-webkit-keyframes div2_view_out {
    from {
        opacity: 0.3;
        -webkit-transform: translate(-50px, 0px) scale(1.8);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(-80px, 0px) scale(1.8);
    }
}

@-webkit-keyframes div3_in {
    from {
        opacity: 0;
        -webkit-transform: translate(30px, 0px) scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) scale(1);
    }
}

@-webkit-keyframes div3_view_in {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, 0px) scale(1.8);
    }
    to {
        opacity: 0.3;
        -webkit-transform: translate(50px, 0px) scale(1.8);
    }
}

@-webkit-keyframes div3_out {
    from {
        opacity: 1;
        -webkit-transform: translate(0px, 0px) scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0px, 20px) scale(1);
    }
}

@-webkit-keyframes div3_view_out {
    from {
        opacity: 0.3;
        -webkit-transform: translate(50px, 0px) scale(1.8);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(100px, 0px) scale(1.8);
    }
}

@-webkit-keyframes moving_down {
    from {
        -webkit-transform: translate(0px, -25px);
    }
    to {
        -webkit-transform: translate(0px, 25px);
    }
}

@-webkit-keyframes moving_up {
    from {
        -webkit-transform: translate(0px, 25px);
    }
    to {
        -webkit-transform: translate(0px, -25px);
    }
}

@-webkit-keyframes moving_left {
    from {
        -webkit-transform: translate(25px, 0px);
    }
    to {
        -webkit-transform: translate(-25px, 0px);
    }
}

@-webkit-keyframes moving_right {
    from {
        -webkit-transform: translate(-25px, 0px);
    }
    to {
        -webkit-transform: translate(25px, 0px);
    }
}

@-webkit-keyframes liuxing {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
    /*            5%{-webkit-transform:translate(-50px,-10px) #viewer_id#rotate(0deg);opacity: 1}*/
    30% {
        -webkit-transform: translate(-500px, 100px) rotate(-5deg);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translate(-500px, 100px) rotate(-5deg);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
}
