*
{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
}

body
{
    background-color: black;
}

#container
{
    width: 500px;
    height: 815px;
    position: absolute;
    overflow: hidden;
}
#container > img, #container > div
{
    position: absolute;
}
#pagetitle
{
    width: 420px;
    height: 200px;
    top: 300px;
    left: 40px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}

#linetop
{
    height: 2px;
    width: 420px;
    position: absolute;
    background-color: #fff;
    opacity: 0;
}
#linebottom
{
    height: 2px;
    width: 420px;
    position: absolute;
    background-color: #fff;
    opacity: 0;
}
.threeline
{
    position: absolute;
    height: 55px;
    left: 0px;
    width: 420px;
}
.oneline
{
    position: absolute;
    height: 100px;
    left: 0px;
    width: 420px;
    line-height: 100px;
}
.twoline
{
    position: absolute;
    height: 80px;
    line-height: 80px;
    left: 0px;
    width: 420px;
}
#div11h
{
    width: 441px;
    height: 297px;
    left: 30px;
    top: 96px;
    border: 7px solid #fff;
    overflow: hidden;
}
#div12h
{
    width: 441px;
    height: 297px;
    left: 30px;
    top: 424px;
    border: 7px solid #fff;
    overflow: hidden;
}
#div11v
{
    height: 420px;
    width: 280px;
    left: 196px;
    top: 27px;
    border: 7px solid #fff;
    overflow: hidden;
}
#div12v
{
    height: 420px;
    width: 280px;
    left: 22px;
    top: 340px;
    border: 7px solid #fff;
    overflow: hidden;
}
#div2v,#div3v
{
    position: absolute;
    width: 440px;
    height: 661px;
    top: 69px;
    left: 29px;
    border: 7px solid #fff;
    overflow: hidden;
}
#div2h,#div3h
{
    width: 450px;
    height: 344px;
    top: 191px;
    left: 24px;
    border: 7px solid #fff;
    overflow: hidden;
}
#div4h
{
    position: absolute;
    border: 7px solid #fff;
    width: 441px;
    height: 300px;
    top: 365px;
    left: 26px;
    -webkit-transform: translate(0px,0px) rotate(-15deg);
    overflow: hidden;
}
#div4v
{
    position: absolute;
    border: 7px solid #fff;
    width: 381px;
    height: 550px;
    top: 158px;
    left: 49px;
    -webkit-transform: translate(0px,0px) rotate(-10deg);
    overflow: hidden;
}
#div5v
{
    position: absolute;
    overflow: hidden;
    border: 7px solid #fff;
    width: 364px;
    height: 551px;
    left: 55px;
    top: 138px;
    -webkit-transform: translate(0px,0px) rotate(10deg);
}
#div5h
{
    position: absolute;
    overflow: hidden;
    border: 7px solid #fff;
    width: 448px;
    height: 317px;
    left: 30px;
    top: 238px;
    -webkit-transform: translate(0px,0px) rotate(8deg);
}
</style>
<style type="text/css">
@-webkit-keyframes in_fadedown
{
    from  {-webkit-transform: translate(0px,-50px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes out_fadedown
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(0px,50px);opacity: 0}
}
@-webkit-keyframes in_fadedown1
{
    from  {-webkit-transform: translate(0px,-70px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes in_faderight
{
    from  {-webkit-transform: translate(-100px,0px);opacity: 0}
    to    {-webkit-transform: translate(0px,0px);opacity: 1}
}
@-webkit-keyframes out_fadeup
{
    from  {-webkit-transform: translate(0px,0px);opacity: 1}
    to    {-webkit-transform: translate(0px,-100px);opacity: 0}
}
@-webkit-keyframes in_faderotateh
{
    from  {-webkit-transform: translate(0px,0px) rotate(0deg);opacity: 0}
    to    {-webkit-transform: translate(0px,0px) rotate(-15deg);opacity: 1}
}
@-webkit-keyframes in_faderotatev
{
    from  {-webkit-transform: translate(0px,0px) rotate(0deg);opacity: 0}
    to    {-webkit-transform: translate(0px,0px) rotate(-10deg);opacity: 1}
}
@-webkit-keyframes out_faderotateh
{
    from  {-webkit-transform: translate(0px,0px) rotate(-15deg);opacity: 1}
    to    {-webkit-transform: translate(0px,80px) rotate(-30deg);opacity: 0}
}
@-webkit-keyframes out_faderotatev
{
    from  {-webkit-transform: translate(0px,0px) rotate(-10deg);opacity: 1}
    to    {-webkit-transform: translate(0px,80px) rotate(-30deg);opacity: 0}
}
@-webkit-keyframes in_div5v
{
    from  {-webkit-transform: translate(-418px,-53px) rotate(0deg);}
    to    {-webkit-transform: translate(0px,0px) rotate(10deg);}
}
@-webkit-keyframes in_div5h
{
    from  {-webkit-transform: translate(-481px,-46px) rotate(0deg);}
    to    {-webkit-transform: translate(0px,0px) rotate(8deg);}
}
@-webkit-keyframes out_div5v
{
    from  {-webkit-transform: translate(0px,0px) rotate(10deg);opacity: 1}
    to    {-webkit-transform: translate(-50px,176px) rotate(10deg);opacity: 0}
}
@-webkit-keyframes out_div5h
{
    from  {-webkit-transform: translate(0px,0px) rotate(8deg);opacity: 1}
    to    {-webkit-transform: translate(-40px,170px) rotate(8deg);opacity: 0}
}
@-webkit-keyframes xuehua1
{
    0%  {-webkit-transform: translate(0px,0px) rotate(0deg) scale(.1);opacity: 1}
    90% {-webkit-transform: translate(100px,-117px) rotate(-500deg) scale(1.0);opacity: 0.2}
    100%{-webkit-transform: translate(113px,-127px) rotate(-510deg) scale(1.0);opacity: 0}
}
@-webkit-keyframes flowsnow
{
    0%  {-webkit-transform: translate(0px,0px) rotate(0deg);}
    100%{-webkit-transform: translate(0px,650px) rotate(200deg);}
    0%,100%{opacity: 0}
    10%,90%{opacity: 1}
}
@-webkit-keyframes snowrotate
{
    from  {-webkit-transform: rotate(0deg);}
    to    {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes starshining
{
    0%   {-webkit-transform: scale(0) rotate(0deg);}
    15%  {-webkit-transform: scale(2) rotate(90deg);}
    30% {-webkit-transform: scale(0) rotate(180deg);}
    100% {-webkit-transform: scale(0) rotate(180deg);}
}