#container {
    width: 500px;
    height: 815px;
    position: absolute;
    overflow: hidden;
}

#container > img,
#container > div {
    position: absolute;
}

#yunbiao >img,
#yunbiao1>img {
    position: absolute;
}

#yunbiao {
    top: -46px;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, -1);
}

#yunbiao1 {
    top: -11px;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(-1, 1);
}

#xiaban {
    bottom: 0px;
}

#pagetitle {
    width: 420px;
    height: 200px;
    top: 300px;
    left: 40px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
}

.yun09 {
    left: 0px;
    top: 634px;
    -webkit-animation: yunmove 2s linear infinite alternate;
}

.yun07 {
    left: 18px;
    top: 718px;
    -webkit-animation: yunmove 2s linear infinite alternate;
}

.yun08 {
    left: 260px;
    top: 719px;
    -webkit-animation: yunmove 1.2s linear infinite alternate;
}

.yun06 {
    left: 374px;
    top: 654px;
    -webkit-animation: yunmove 2s linear infinite alternate;
}

.yun05 {
    left: 343px;
    top: 710px;
    -webkit-animation: yunmove 1.2s 0.5s linear infinite alternate;
}

.yun04 {
    left: 383px;
    top: 684px;
    -webkit-animation: yunmove 1s 0.7s linear infinite alternate;
}

.yun03 {
    left: 440px;
    top: 671px;
    -webkit-animation: yunmove 1s 0.3s linear infinite alternate;
}

.yun02 {
    left: 397px;
    top: 744px;
    -webkit-animation: yunmove 1s 0.9s linear infinite alternate;
}

.yun01 {
    left: 177px;
    top: 742px;
    -webkit-animation: yunmove 2s linear infinite alternate;
}

#jixiong {
    top: 643px;
    left: 295px;
}

#jitou {
    top: -94px;
    left: 77px;
    position: absolute;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: jitouzhuan 0.8s infinite linear alternate both;
}

@-webkit-keyframes jitouzhuan {
    from {
        -webkit-transform: rotate(2deg);
    }
    to {
        -webkit-transform: rotate(-11deg);
    }
}

#jiwei {
    position: absolute;
    top: 30px;
    left: 135px;
}

#shenzi {
    position: absolute;
    top: 2px;
    left: 60px;
}

#youshou {
    position: absolute;
    top: 19px;
    left: 103px;
}

#zuoshou {
    position: absolute;
    top: 17px;
    left: 61px;
}

#zyoushou {
    position: absolute;
    top: -5px;
    left: 81px;
    /*display: none;*/
    -webkit-transform: rotate(22deg);
    -webkit-animation: shouxiangzuo 1s linear both;
}

@-webkit-keyframes shouxiangzuo {
    0% {
        -webkit-transform: rotate(22deg) translate(0px, 0px);
    }
    100% {
        -webkit-transform: rotate(22deg) translate(-70.5px, -1px);
    }
}

#zzuoshou {
    position: absolute;
    top: -2px;
    left: 99px;
    -webkit-transform: rotate(202deg);
    /*display: none;*/
    -webkit-animation: shouxiangyou 1s linear both;
}

@-webkit-keyframes shouxiangyou {
    0% {
        -webkit-transform: rotate(22deg) translate(0px, 0px);
    }
    100% {
        -webkit-transform: rotate(22deg) translate(78px, 0px);
    }
}

#zhongjian {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 80px;
    left: 71px;
    overflow: hidden;
    /*display: none;*/
    -webkit-transform: rotate(22deg);
    -webkit-animation: zhongjiandonghua 1s linear both;
}

#zhongshou {
    position: absolute;
    top: 1px;
    left: -170px;
    -webkit-animation: shenzidonghua 1s linear both;
}

@-webkit-keyframes shenzidonghua {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    20% {
        -webkit-transform: translate(45px, 0px);
    }
    100% {
        -webkit-transform: translate(169px, 0px);
    }
}

@-webkit-keyframes zhongjiandonghua {
    0% {
        -webkit-transform: rotate(22deg) translate(-9px, 0px);
    }
    20% {
        -webkit-transform: rotate(22deg) translate(-28px, 0px);
    }
    100% {
        -webkit-transform: rotate(22deg) translate(-84.5px, 0px);
    }
}

#zifu {
    display: none;
    width: 100px;
    height: 100px;
    -webkit-animation: zifudonghua 1s linear both;
}

@-webkit-keyframes zifudonghua {
    {
        -webkit-transform: rotate(-60deg);
    }
    {
        -webkit-transform: rotate(22deg);
    }
}

#ankang {
    position: absolute;
    top: 17px;
    left: 29px;
    opacity: 0;
    -webkit-transform: rotate(22deg) scale(0.85);
    -webkit-animation: hengtiaodonghua 25s 1s infinite linear both;
}

#hengtong {
    position: absolute;
    top: 17px;
    left: 29px;
    opacity: 0;
    -webkit-transform: rotate(22deg) scale(0.85);
    -webkit-animation: hengtiaodonghua 25s 6s infinite linear both;
}

#hesui {
    position: absolute;
    top: 17px;
    left: 29px;
    opacity: 0;
    -webkit-transform: rotate(22deg) scale(0.8);
    -webkit-animation: hengtiaodonghua 25s 11s infinite linear both;
}

#nafu {
    position: absolute;
    top: 17px;
    left: 29px;
    opacity: 0;
    -webkit-transform: rotate(22deg) scale(0.85);
    -webkit-animation: hengtiaodonghua 25s 16s infinite linear both;
}

#yingchun {
    position: absolute;
    top: 17px;
    left: 29px;
    opacity: 0;
    -webkit-transform: rotate(22deg) scale(0.8);
    -webkit-animation: hengtiaodonghua 25s 21s infinite linear both;
}

@-webkit-keyframes hengtiaodonghua {
    0% {
        opacity: 0
    }
    2% {
        opacity: 1
    }
    18% {
        opacity: 1
    }
    20% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

#meihua {
    top: -9px;
    left: 303px;
    -webkit-transform-origin: 100% 0%;
    -webkit-animation: meihuazhuan 2s infinite linear alternate both;
}

#meihua1 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan1 8s 1s infinite linear both;
}

@-webkit-keyframes meihuazhuan1 {
    from {
        -webkit-transform: translate(50px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 100px);
    }
}

#meihua2 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan2 8s 4s infinite linear both;
}

@-webkit-keyframes meihuazhuan2 {
    from {
        -webkit-transform: translate(100px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 200px);
    }
}

#meihua3 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan3 8s 3s infinite linear both;
}

@-webkit-keyframes meihuazhuan3 {
    from {
        -webkit-transform: translate(200px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 400px);
    }
}

#meihua4 {
    top: 0px;
    left: 0px;
    -webkit-animation: meihuazhuan4 8s 2s infinite linear both;
}

@-webkit-keyframes meihuazhuan4 {
    from {
        -webkit-transform: translate(250px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 450px);
    }
}

#meihua5 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan5 8s 1s infinite linear both;
}

@-webkit-keyframes meihuazhuan5 {
    from {
        -webkit-transform: translate(300px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 500px);
    }
}

#meihua6 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan6 8s 2s infinite linear both;
}

@-webkit-keyframes meihuazhuan6 {
    from {
        -webkit-transform: translate(350px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 550px);
    }
}

#meihua7 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan7 8s 7s infinite linear both;
}

@-webkit-keyframes meihuazhuan7 {
    from {
        -webkit-transform: translate(400px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 600px);
    }
}

#meihua8 {
    top: 0px;
    left: 0px;
    -webkit-animation: meihuazhuan8 8s 6s infinite linear both;
}

@-webkit-keyframes meihuazhuan8 {
    from {
        -webkit-transform: translate(510px, 55px);
    }
    to {
        -webkit-transform: translate(-20px, 750px);
    }
}

#meihua9 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan9 8s 7s infinite linear both;
}

@-webkit-keyframes meihuazhuan9 {
    from {
        -webkit-transform: translate(470px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 800px);
    }
}

#meihua10 {
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    -webkit-animation: meihuazhuan10 8s 1s infinite linear both;
}

@-webkit-keyframes meihuazhuan10 {
    from {
        -webkit-transform: translate(500px, -55px);
    }
    to {
        -webkit-transform: translate(-20px, 870px);
    }
}

@-webkit-keyframes yunmove {
    from {
        -webkit-transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(0px, 10px);
    }
}

@-webkit-keyframes meihuazhuan {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-5deg);
    }
}

#pagetitle {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
    /*-webkit-animation:title_in 0.5s linear both;*/
}

#dibu {
    position: absolute;
    top: 172px;
    left: 53.5px;
    /*-webkit-animation: dibuzhuan 8s infinite linear  both;*/
}

@-webkit-keyframes dibuzhuan {
    0% {
        -webkit-transform: scale(1) rotate(0deg);
    }
    1% {
        -webkit-transform: scale(1.05) rotate(3.6deg);
    }
    2% {
        -webkit-transform: scale(0.95) rotate(7.2deg);
    }
    3% {
        -webkit-transform: scale(1.05) rotate(10.8deg);
    }
    4% {
        -webkit-transform: scale(1) rotate(14.4deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

#shang {
    position: absolute;
    top: 166px;
    left: 72px;
}

#biaoti {
    height: 100%;
    width: 100%;
    /*-webkit-animation:shangdonghua 0.5s 0.5s linear both;*/
}

@-webkit-keyframes shangdonghua {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(0.8);
    }
    75% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes dibusuo {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.05);
    }
    50% {
        -webkit-transform: scale(0.95);
    }
    75% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes title_in {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes title_out {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes shangchu {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes div1_in {
    from {
        -webkit-transform: translate(500px, 0px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div2_in {
    from {
        -webkit-transform: translate(-500px, 0px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div1_out {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(0px, 500px);
        opacity: 0
    }
}

@-webkit-keyframes div2_out {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(0px, -500px);
        opacity: 0
    }
}

@-webkit-keyframes div3_in {
    from {
        -webkit-transform: translate(0px, 500px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div4_in {
    from {
        -webkit-transform: translate(0px, -500px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div3_out {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(500px, -80px);
        opacity: 0
    }
}

@-webkit-keyframes div4_out {
    from {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    to {
        -webkit-transform: translate(-500px, 80px);
        opacity: 0
    }
}

@-webkit-keyframes div5_in {
    0% {
        -webkit-transform: translate(0px, 0px);
        opacity: 0
    }
    20% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(20px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div6_in {
    0% {
        -webkit-transform: translate(0px, 0px);
        opacity: 0
    }
    20% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(-20px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div5_out {
    0% {
        -webkit-transform: translate(20px, 0px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0px, 20px);
        opacity: 0
    }
}

@-webkit-keyframes div6_out {
    0% {
        -webkit-transform: translate(-20px, 0px);
        opacity: 1
    }
    100% {
        -webkit-transform: translate(0px, -20px);
        opacity: 0
    }
}

@-webkit-keyframes div7_in {
    from {
        -webkit-transform: translate(-100px, 500px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

@-webkit-keyframes div8_in {
    from {
        -webkit-transform: translate(100px, -500px);
        opacity: 0
    }
    to {
        -webkit-transform: translate(0px, 0px);
        opacity: 1
    }
}

.div {
    border: 8px solid #fff;
    opacity: 0;
    position: absolute;
}

.wordspan {
    width: 50%;
    left: 5%;
    position: absolute;
    color: #fff;
    font-size: 25px;
    text-align: center;
    bottom: 7px;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}

.wordspan1 {
    width: 90%;
    left: 5%;
    position: absolute;
    color: #fff;
    font-size: 25px;
    text-align: center;
    bottom: 20px;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}
